examples/createIncomingInvoice/w4a-invoice-gmail.json
{
  "name": "w4a-invoice-gmail",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "in:inbox -label:\"AI/Invoice/Processed\""
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        336,
        144
      ],
      "id": "259f8f06-6ee9-450a-823b-b01097cbd2ef",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "NlAsFEdtSlB8WOaM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').first().json.id }}",
        "labelIds": [
          "Label_3069647278276442797"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1072,
        144
      ],
      "id": "af13597e-1fc1-4f26-b982-f1e0c7b19f11",
      "name": "Add label to message",
      "webhookId": "10eab9d4-9403-4b08-a293-7ac28051da28",
      "credentials": {
        "gmailOAuth2": {
          "id": "NlAsFEdtSlB8WOaM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0aotulZHh0GFCjSV",
          "mode": "list",
          "cachedResultUrl": "/workflow/0aotulZHh0GFCjSV",
          "cachedResultName": "work4all-invoice-workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "": "={{ $('Gmail Trigger').item.binary }}"
          },
          "matchingColumns": [
            ""
          ],
          "schema": [
            {
              "id": "",
              "displayName": "",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        736,
        144
      ],
      "name": "Call work4all-invoice-workflow",
      "id": "b51cd94a-9cf8-4671-b995-0c15913d15d3"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Call work4all-invoice-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call work4all-invoice-workflow": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b03e0020-6462-45b3-9796-b228161e0cdf",
  "meta": {
    "instanceId": "8f9ec9901e41a08bb2ba8c686bff4a1d25646ff7f206d842b1aa2b96fc47b5f3"
  },
  "id": "v7RaV0v0R6A8OCUG",
  "tags": [
    {
      "updatedAt": "2026-03-16T07:09:47.577Z",
      "createdAt": "2026-03-16T07:09:47.577Z",
      "id": "i74RPAhdxvcl6n37",
      "name": "w4a invoice"
    }
  ]
}