examples/createIncomingInvoice/w4a-invoice-gmail.json
{
  "name": "w4a-invoice-gmail",
  "nodes": [
    {
      "parameters": {
        "dataMode": "json",
        "invoiceDataJson": "={{ $json.invoiceData }}",
        "attachmentsMode": "json",
        "attachmentsJson": "={{ ($json.relevantAttachmentKeys || []).map(k => ({ binaryPropertyName: k })) }}"
      },
      "type": "CUSTOM.work4all",
      "typeVersion": 1,
      "position": [
        2016,
        0
      ],
      "id": "08bc69bd-fc50-4259-91f1-4a20fe10d80f",
      "name": "work4all",
      "credentials": {
        "work4allApi": {
          "id": "GNx2r9nB6bBuknX0",
          "name": "work4all account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "in:inbox -label:\"AI/Invoice/Processed\""
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -896,
        144
      ],
      "id": "259f8f06-6ee9-450a-823b-b01097cbd2ef",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "NlAsFEdtSlB8WOaM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ea39fb4-a88f-4f20-85d2-6daea27f1c16",
              "leftValue": "={{ Object.keys($binary ?? {}).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        144
      ],
      "id": "55e2f36e-b675-4295-9fc6-34324455ae73",
      "name": "check for attachments"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{$json['id']}}",
        "labelIds": [
          "Label_3069647278276442797"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2240,
        144
      ],
      "id": "af13597e-1fc1-4f26-b982-f1e0c7b19f11",
      "name": "Add label to message",
      "webhookId": "10eab9d4-9403-4b08-a293-7ac28051da28",
      "credentials": {
        "gmailOAuth2": {
          "id": "NlAsFEdtSlB8WOaM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2414845b-1d00-4d40-b172-cde56f7cc03f",
      "name": "Upload a file",
      "credentials": {
        "anthropicApi": {
          "id": "sYtc7j50JUIDoTBU",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nconst items = $input.all();\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const binary = item.binary || {};\n  const json = item.json || {};\n\n  for (const [key, file] of Object.entries(binary)) {\n    const mimeType = file.mimeType || \"\";\n    const fileName = file.fileName || \"\";\n\n    if (\n      mimeType === \"application/xml\" ||\n      mimeType === \"text/xml\" ||\n      fileName.toLowerCase().endsWith(\".xml\")\n    ) {\n      const buffer = await this.helpers.getBinaryDataBuffer(i, key);\n      const xmlText = buffer.toString(\"utf8\");\n\n      out.push({\n        json: {\n          gmailMessageId: json.id,\n          originalSubject: json.subject,\n          attachmentKey: key,\n          fileName,\n          mimeType,\n          contentKind: \"xml_text\",\n          xmlText,\n        },\n      });\n    } else {\n      out.push({\n        json: {\n          gmailMessageId: json.id,\n          originalSubject: json.subject,\n          attachmentKey: key,\n          fileName,\n          mimeType,\n          contentKind: \"upload_file\",\n        },\n        binary: {\n          data: file,\n        },\n      });\n    }\n  }\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        80
      ],
      "id": "e5216808-97c6-4655-8919-6b6f6d552a50",
      "name": "preprocess_attachments"
    },
    {
      "parameters": {
        "jsCode": "const uploadedDocs = ($json.uploadedFiles || []).map(file => ({\n  type: \"document\",\n  source: {\n    type: \"file\",\n    file_id: file.fileId,\n  }\n}));\n\nconst xmlTexts = ($json.xmlFiles || []).map(file => ({\n  type: \"text\",\n  text: `Filename: ${file.fileName}\\n\\n${file.xmlText}`\n}));\n\nreturn [{\n  json: {\n    gmailMessageId: $json.gmailMessageId,\n    anthropicContent: [\n      ...uploadedDocs,\n      ...xmlTexts,\n      {\n        type: \"text\",\n        text: `Analyze all attached documents together.\n\nGoal:\nDetermine whether these attachments contain an incoming supplier invoice.\nIf yes, extract the invoice data for work4all.\n\nRules:\n- Return ONLY valid JSON.\n- Use this exact top-level shape:\n  {\n    \"found_invoice\": true,\n    \"reason\": \"short explanation\",\n    \"relevantAttachmentKeys\": [\"attachment_0\"],\n    \"invoiceData\": {\n      \"supplierCode\": null,\n      \"supplierName\": null,\n      \"supplierCustomerNumberAtSupplier\": null,\n      \"supplierContactMailAddress\": null,\n      \"supplierIban\": null,\n      \"projectCode\": null,\n      \"projectNumber\": null,\n      \"projectName\": null,\n      \"invoiceNumberSupplier\": null,\n      \"note\": null,\n      \"invoiceDate\": null,\n      \"entryDate\": null,\n      \"receiptDate\": null,\n      \"paymentTermDays\": null,\n      \"discount1Rate\": null,\n      \"discount1Days\": null,\n      \"discount2Rate\": null,\n      \"discount2Days\": null,\n      \"currencyCode\": null,\n      \"invoiceItems\": []\n    }\n  }\n\nExtraction rules:\n- found_invoice = true only if at least one attachment is clearly an incoming invoice / supplier invoice / receipt for accounts payable.\n- relevantAttachmentKeys must contain the original attachment keys, e.g. \"attachment_0\".\n- invoiceData field names must match exactly.\n- Dates must be ISO-8601 strings.\n- Do not invent values.\n- Prefer supplier matching fields in this order when available:\n  supplierCode > supplierName > supplierCustomerNumberAtSupplier > supplierContactMailAddress > supplierIban\n- Prefer project matching fields in this order when available:\n  projectCode > projectNumber > projectName\n- invoiceItems must NOT contain all raw positions.\n- Instead, group and aggregate positions by VAT rate (Mehrwertsteuersatz).\n- Return one invoiceItems entry per VAT bucket.\n- For each VAT bucket, sum:\n  - netAmount\n  - vatAmount\n  - grossAmount\n- Only set account, costCenter, costGroup, projectCode, taxCode if explicitly present in the source.\n- If no invoice is found:\n  - found_invoice = false\n  - relevantAttachmentKeys = []\n  - invoiceData = { all fields null, invoiceItems: [] }`\n      }\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        80
      ],
      "id": "69f65815-32cb-46a1-af05-ebadcbfaa58e",
      "name": "Prepare Anthropic Context"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "files-api-2025-04-14"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  model: \"claude-sonnet-4-6\",\n  max_tokens: 10000,\n  messages: [\n    {\n      role: \"user\",\n      content: [\n        ...$json.anthropicContent,\n        {\n          type: \"text\",\n          text: `\nReturn ONLY valid JSON.\nDo not use markdown.\nDo not wrap in triple backticks.\nDo not add explanations before or after the JSON.\n\nUse exactly this shape:\n{\n  \"found_invoice\": true,\n  \"reason\": \"short explanation\",\n  \"relevantAttachmentKeys\": [\"attachment_0\"],\n  \"invoiceData\": {\n    \"supplierCode\": null,\n    \"supplierName\": null,\n    \"supplierCustomerNumberAtSupplier\": null,\n    \"supplierContactMailAddress\": null,\n    \"supplierIban\": null,\n    \"projectCode\": null,\n    \"projectNumber\": null,\n    \"projectName\": null,\n    \"invoiceNumberSupplier\": null,\n    \"note\": null,\n    \"invoiceDate\": null,\n    \"entryDate\": null,\n    \"receiptDate\": null,\n    \"paymentTermDays\": null,\n    \"discount1Rate\": null,\n    \"discount1Days\": null,\n    \"discount2Rate\": null,\n    \"discount2Days\": null,\n    \"currencyCode\": null,\n    \"invoiceItems\": [\n      {\n        \"account\": null,\n        \"costCenter\": null,\n        \"costGroup\": null,\n        \"projectCode\": null,\n        \"taxCode\": null,\n        \"taxRate\": null,\n        \"netAmount\": null,\n        \"grossAmount\": null,\n        \"vatAmount\": null,\n        \"note\": null\n      }\n    ]\n  }\n}\n\nRules:\n- found_invoice = true only if at least one attachment is clearly an incoming supplier invoice / Eingangsrechnung / XRechnung / receipt relevant for accounting.\n- relevantAttachmentKeys must contain the original attachment keys like \"attachment_0\".\n- invoiceData field names must match exactly.\n- Dates must be ISO-8601 strings if known, otherwise null.\n- Do not invent values.\n- Aggregate invoiceItems by VAT rate (Mehrwertsteuersatz), not by raw line item.\n- Return one invoiceItems entry per VAT bucket.\n- Sum netAmount, vatAmount and grossAmount per VAT bucket.\n- Only fill account, costCenter, costGroup, projectCode, taxCode if explicitly present in the documents.\n- If no invoice is found, return:\n  {\n    \"found_invoice\": false,\n    \"reason\": \"...\",\n    \"relevantAttachmentKeys\": [],\n    \"invoiceData\": {\n      \"supplierCode\": null,\n      \"supplierName\": null,\n      \"supplierCustomerNumberAtSupplier\": null,\n      \"supplierContactMailAddress\": null,\n      \"supplierIban\": null,\n      \"projectCode\": null,\n      \"projectNumber\": null,\n      \"projectName\": null,\n      \"invoiceNumberSupplier\": null,\n      \"note\": null,\n      \"invoiceDate\": null,\n      \"entryDate\": null,\n      \"receiptDate\": null,\n      \"paymentTermDays\": null,\n      \"discount1Rate\": null,\n      \"discount1Days\": null,\n      \"discount2Rate\": null,\n      \"discount2Days\": null,\n      \"currencyCode\": null,\n      \"invoiceItems\": []\n    }\n  }\n`\n        }\n      ]\n    }\n  ]\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        80
      ],
      "id": "c88e71e8-2d2a-472d-bd3d-98756767a532",
      "name": "LLM Filter Relevant Attachments",
      "credentials": {
        "anthropicApi": {
          "id": "sYtc7j50JUIDoTBU",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a5d662cb-f633-4648-bc88-bcc9362b9630",
              "leftValue": "={{$json.contentKind === \"upload_file\"}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        80
      ],
      "id": "9a20aa03-a543-43d0-b9d6-942f681b9197",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: {\n    gmailMessageId: item.json.gmailMessageId,\n    originalSubject: item.json.originalSubject,\n    attachmentKey: item.json.attachmentKey,\n    fileName: item.json.fileName,\n    mimeType: item.json.mimeType,\n    contentKind: \"uploaded_file\",\n    uploadedFileId: item.json.id\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "adfc492c-801f-460b-918a-46b1a57da011",
      "name": "add uploadedFileId"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        80
      ],
      "id": "d16bdc2a-d1f8-4397-83e5-3832ce9c04b4",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn [{\n  json: {\n    gmailMessageId: items[0].json.gmailMessageId,\n    originalSubject: items[0].json.originalSubject,\n    uploadedFiles: items\n      .filter(item => item.json.contentKind === \"uploaded_file\")\n      .map(item => ({\n        fileId: item.json.uploadedFileId,\n        fileName: item.json.fileName,\n        mimeType: item.json.mimeType,\n      })),\n    xmlFiles: items\n      .filter(item => item.json.contentKind === \"xml_text\")\n      .map(item => ({\n        fileName: item.json.fileName,\n        mimeType: item.json.mimeType,\n        xmlText: item.json.xmlText,\n      })),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        80
      ],
      "id": "6d8bc3cc-5d48-41d5-ac0f-4e4bdec77873",
      "name": "Aggregate multiple Attachments back to one Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6573bc49-61be-476e-95d7-3f9b4e26b1c9",
              "leftValue": "={{ $json.found_invoice }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        80
      ],
      "id": "57c5baee-d67f-4575-a7f3-a8e9a2292ff7",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "function removeNullish(value) {\n  if (Array.isArray(value)) {\n    return value.map(removeNullish);\n  }\n\n  if (value && typeof value === \"object\") {\n    return Object.fromEntries(\n      Object.entries(value)\n        .filter(([, v]) => v !== undefined && v !== null && v !== \"\")\n        .map(([k, v]) => [k, removeNullish(v)])\n    );\n  }\n\n  return value;\n}\n\nlet raw = $json.content?.[0]?.text ?? \"{}\";\n\n// remove accidental code fences if Claude still adds them\nraw = raw\n  .replace(/^```json\\s*/i, \"\")\n  .replace(/^```\\s*/i, \"\")\n  .replace(/\\s*```$/, \"\")\n  .trim();\n\nconst parsed = JSON.parse(raw);\n\nreturn [{\n  json: {\n    found_invoice: parsed.found_invoice === true,\n    reason: parsed.reason ?? \"\",\n    relevantAttachmentKeys: parsed.relevantAttachmentKeys ?? [],\n    invoiceData: removeNullish(parsed.invoiceData ?? {}),\n  },\n  binary: $input.item.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        80
      ],
      "id": "a88f5116-4c42-4071-b94f-72417efa60a9",
      "name": "parse json data"
    },
    {
      "parameters": {
        "jsCode": "const relevantKeys = $json.relevantAttachmentKeys || [];\nconst sourceBinary = $('Gmail Trigger').item.binary || {};\n\nconst keptBinary = Object.fromEntries(\n  relevantKeys\n    .filter((key) => sourceBinary[key])\n    .map((key) => [key, sourceBinary[key]])\n);\n\nconst invoiceData = { ...($json.invoiceData || {}) };\ninvoiceData.currencyCode = 208324612;\n\nfor (const key of [\"invoiceDate\", \"entryDate\", \"receiptDate\"]) {\n  if (\n    typeof invoiceData[key] === \"string\" &&\n    /^\\d{4}-\\d{2}-\\d{2}$/.test(invoiceData[key])\n  ) {\n    invoiceData[key] = `${invoiceData[key]}T00:00:00Z`;\n  }\n}\n\nreturn [{\n  json: {\n    ...$json,\n    invoiceData,\n    relevantAttachmentKeys: relevantKeys,\n  },\n  binary: keptBinary,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        0
      ],
      "id": "bcc3c178-b88e-4233-bf29-b9902414844f",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "check for attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check for attachments": {
      "main": [
        [
          {
            "node": "preprocess_attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "add uploadedFileId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preprocess_attachments": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Anthropic Context": {
      "main": [
        [
          {
            "node": "LLM Filter Relevant Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "add uploadedFileId": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate multiple Attachments back to one Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate multiple Attachments back to one Email": {
      "main": [
        [
          {
            "node": "Prepare Anthropic Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Filter Relevant Attachments": {
      "main": [
        [
          {
            "node": "parse json data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse json data": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "work4all": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "work4all",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e7ec6394-3d5f-41c3-a659-7ea3ba25183f",
  "meta": {
    "instanceId": "8f9ec9901e41a08bb2ba8c686bff4a1d25646ff7f206d842b1aa2b96fc47b5f3"
  },
  "id": "v7RaV0v0R6A8OCUG",
  "tags": [
    {
      "updatedAt": "2026-03-16T07:09:47.577Z",
      "createdAt": "2026-03-16T07:09:47.577Z",
      "id": "i74RPAhdxvcl6n37",
      "name": "w4a invoice"
    }
  ]
}