examples/createIncomingInvoice/w4a-invoice-exchange.json
{
  "name": "w4a-invoice-exchange",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "custom": "not categories/any(c:c eq 'AI/Processed')"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        160
      ],
      "id": "fd8d850e-bf7c-4ddf-9154-38db0c035c7f",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "DBrnRozjem4ziL1I",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://graph.microsoft.com/v1.0/me/messages/{{$('Microsoft Outlook Trigger').first().json.id}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"categories\": [\"AI/Processed\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        32,
        160
      ],
      "id": "3bd92eb6-ccfa-480f-83a3-70c0737162bd",
      "name": "Label Email",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "DBrnRozjem4ziL1I",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0aotulZHh0GFCjSV",
          "mode": "list",
          "cachedResultUrl": "/workflow/0aotulZHh0GFCjSV",
          "cachedResultName": "work4all-invoice-workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -256,
        160
      ],
      "id": "a3673552-3479-468e-9a50-616f04cdfab1",
      "name": "Call 'work4all-invoice-workflow'"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Call 'work4all-invoice-workflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'work4all-invoice-workflow'": {
      "main": [
        [
          {
            "node": "Label Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8eb5cb37-c804-4fb9-baec-25bc27902938",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f9ec9901e41a08bb2ba8c686bff4a1d25646ff7f206d842b1aa2b96fc47b5f3"
  },
  "id": "DovFb3SqbHdOlnZe",
  "tags": [
    {
      "updatedAt": "2026-03-16T07:09:47.577Z",
      "createdAt": "2026-03-16T07:09:47.577Z",
      "id": "i74RPAhdxvcl6n37",
      "name": "w4a invoice"
    }
  ]
}