examples/createIncomingInvoice/w4a-invoice-exchange.json
{
  "name": "w4a-invoice-exchange -- Laurin",
  "nodes": [
    {
      "parameters": {
        "resource": "folder",
        "displayName": "Neue Eingangsrechnungen",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -832,
        -240
      ],
      "id": "42e21e73-3b18-4e34-a196-c7edc5ea8195",
      "name": "Create Folder: Neue Eingangsrechnungen",
      "webhookId": "39d92028-05b0-4f5a-908f-130aa28fd8a3",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "iZNGowBVWVT0AWBr",
          "name": "invoice@work4alltest.de - LB"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "displayName": "Fehler",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -576,
        -240
      ],
      "id": "4f00c64a-9c51-4e1f-8a42-d6e858ef6719",
      "name": "Create Folder: Fehler",
      "webhookId": "9620805c-3c8e-4f77-97ef-89ce86f16f24",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "iZNGowBVWVT0AWBr",
          "name": "invoice@work4alltest.de - LB"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "displayName": "Verarbeitet",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -336,
        -240
      ],
      "id": "f0b62e85-9ce3-4138-b770-7a4b9fd9709d",
      "name": "Create Folder: Verarbeitet",
      "webhookId": "56f9e4b0-e8a1-436a-8f2e-e2dccc175d22",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "iZNGowBVWVT0AWBr",
          "name": "invoice@work4alltest.de - LB"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "foldersToInclude": [
            "AAMkAGVhNzdlZmNjLWFkNjItNGMzMi04YzZkLWE4YTFkYWY4NTI3NwAuAAAAAAB0sAUOHy4fSK8zXAyosp7vAQD5F53ZtU8FQ5T0NXXlFAlwAAAcbEdLAAA="
          ]
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        48
      ],
      "id": "1af2ac62-eee4-4442-a43a-c73c3b5beac9",
      "name": "Trigger: Emails in Neue Eingangsrechnungen",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "iZNGowBVWVT0AWBr",
          "name": "invoice@work4alltest.de - LB"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": {
          "__rl": true,
          "value": "AAMkAGVhNzdlZmNjLWFkNjItNGMzMi04YzZkLWE4YTFkYWY4NTI3NwBGAAAAAAB0sAUOHy4fSK8zXAyosp7vBwD5F53ZtU8FQ5T0NXXlFAlwAAAcbEdNAAD5F53ZtU8FQ5T0NXXlFAlwAAAft0ToAAA=",
          "mode": "list",
          "cachedResultName": "no-invoice",
          "cachedResultUrl": "https://outlook.office365.com/owa/?ItemID=AAMkAGVhNzdlZmNjLWFkNjItNGMzMi04YzZkLWE4YTFkYWY4NTI3NwBGAAAAAAB0sAUOHy4fSK8zXAyosp7vBwD5F53ZtU8FQ5T0NXXlFAlwAAAcbEdNAAD5F53ZtU8FQ5T0NXXlFAlwAAAft0ToAAA%3D&exvsurl=1&viewmodel=ReadMessageItem"
        },
        "folderId": {
          "__rl": true,
          "value": "AAMkAGVhNzdlZmNjLWFkNjItNGMzMi04YzZkLWE4YTFkYWY4NTI3NwAuAAAAAAB0sAUOHy4fSK8zXAyosp7vAQD5F53ZtU8FQ5T0NXXlFAlwAAAcbEdLAAA=",
          "mode": "list",
          "cachedResultName": "Neue Eingangsrechnungen",
          "cachedResultUrl": "https://outlook.office365.com/mail/AAMkAGVhNzdlZmNjLWFkNjItNGMzMi04YzZkLWE4YTFkYWY4NTI3NwAuAAAAAAB0sAUOHy4fSK8zXAyosp7vAQD5F53ZtU8FQ5T0NXXlFAlwAAAcbEdLAAA%3D"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1024,
        -240
      ],
      "id": "c323b47e-03fa-48fe-b5b1-ea5669840ac9",
      "name": "Move to Eingangsrechnungen",
      "webhookId": "45a6c775-3cb6-460a-8a27-925e674e91b8",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "iZNGowBVWVT0AWBr",
          "name": "invoice@work4alltest.de - LB"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Allow Single Message Access').item.json.id }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "AAMkAGVhNzdlZmNjLWFkNjItNGMzMi04YzZkLWE4YTFkYWY4NTI3NwAuAAAAAAB0sAUOHy4fSK8zXAyosp7vAQD5F53ZtU8FQ5T0NXXlFAlwAAAcbEdMAAA=",
          "mode": "list",
          "cachedResultName": "Fehler",
          "cachedResultUrl": "https://outlook.office365.com/mail/AAMkAGVhNzdlZmNjLWFkNjItNGMzMi04YzZkLWE4YTFkYWY4NTI3NwAuAAAAAAB0sAUOHy4fSK8zXAyosp7vAQD5F53ZtU8FQ5T0NXXlFAlwAAAcbEdMAAA%3D"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        736,
        368
      ],
      "id": "4599d893-aa5a-4c65-8e3d-77085f7338d7",
      "name": "Move into Fehler Folder",
      "webhookId": "cee47aa2-8b92-4ade-b499-3ee150f14b67",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "iZNGowBVWVT0AWBr",
          "name": "invoice@work4alltest.de - LB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d26a6695-69cd-4253-a407-9ced41587f40",
              "leftValue": "={{ $json.errors }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        160
      ],
      "id": "70a0d94a-7fda-472e-899b-69875741be3b",
      "name": "Has Errors?"
    },
    {
      "parameters": {
        "toRecipients": "laurin@atroo.de, t.schmielau@work4all.de",
        "subject": "Da ist was schiefgelaufen",
        "bodyContent": "={{ $('Call \\'work4all-invoice-workflow - Laurin\\'').item.json.error ?? $('Call \\'work4all-invoice-workflow - Laurin\\'').item.json.errors.toJsonString() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        432,
        368
      ],
      "id": "f95564a7-86b3-4425-bc0f-ca9010c1e847",
      "name": "Send Error Message",
      "webhookId": "1096ad99-0334-45c3-84aa-d4681578f073",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "iZNGowBVWVT0AWBr",
          "name": "invoice@work4alltest.de - LB"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Allow Single Message Access').item.json.id }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "AAMkAGVhNzdlZmNjLWFkNjItNGMzMi04YzZkLWE4YTFkYWY4NTI3NwAuAAAAAAB0sAUOHy4fSK8zXAyosp7vAQD5F53ZtU8FQ5T0NXXlFAlwAAAcbEdNAAA=",
          "mode": "list",
          "cachedResultName": "Verarbeitet",
          "cachedResultUrl": "https://outlook.office365.com/mail/AAMkAGVhNzdlZmNjLWFkNjItNGMzMi04YzZkLWE4YTFkYWY4NTI3NwAuAAAAAAB0sAUOHy4fSK8zXAyosp7vAQD5F53ZtU8FQ5T0NXXlFAlwAAAcbEdNAAA%3D"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        736,
        48
      ],
      "id": "750e6dd9-ca48-40cc-8858-42646f9c1961",
      "name": "Move into Verarbeitet",
      "webhookId": "a1d4cbae-fb4e-431e-b789-8202879ef81d",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "iZNGowBVWVT0AWBr",
          "name": "invoice@work4alltest.de - LB"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {'error':$json.error }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        384
      ],
      "id": "fcc4a993-314c-4da3-ab5e-c8afc663758a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "ecAMgohZk1o8g8im"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -480,
        288
      ],
      "id": "37d465f4-7a8a-4d24-b89c-a133044f952e",
      "name": "Call 'work4all-invoice-workflow - Laurin'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filtersUI": {
          "values": {
            "filters": {
              "foldersToInclude": [
                "AAMkAGVhNzdlZmNjLWFkNjItNGMzMi04YzZkLWE4YTFkYWY4NTI3NwAuAAAAAAB0sAUOHy4fSK8zXAyosp7vAQD5F53ZtU8FQ5T0NXXlFAlwAAAcbEdLAAA="
              ]
            }
          }
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1024,
        288
      ],
      "id": "3a4ce7e4-2ad1-4b46-b3dd-bfba9ad3a5b6",
      "name": "Get many messages",
      "webhookId": "a411a1a0-dd87-406a-a98d-ec59d187432f",
      "retryOnFail": true,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "iZNGowBVWVT0AWBr",
          "name": "invoice@work4alltest.de - LB"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1328,
        288
      ],
      "id": "e3021f77-8099-4d62-8dbd-ab9a9e29d721",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filtersUI": {
          "values": {
            "filters": {
              "foldersToInclude": [
                "AAMkAGVhNzdlZmNjLWFkNjItNGMzMi04YzZkLWE4YTFkYWY4NTI3NwAuAAAAAAB0sAUOHy4fSK8zXAyosp7vAQD5F53ZtU8FQ5T0NXXlFAlwAAAcbEdLAAA="
              ]
            }
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -864,
        -480
      ],
      "id": "4cdb150d-9ccc-4adc-b634-3e3edf497dca",
      "name": "Get many messages1",
      "webhookId": "e2eb20a1-1353-4aea-bb87-86b06e608bd2",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "iZNGowBVWVT0AWBr",
          "name": "invoice@work4alltest.de - LB"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.myNewField = 1;\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        288
      ],
      "id": "8a508905-040f-4edf-b0ae-ad891bd38982",
      "name": "Allow Single Message Access"
    }
  ],
  "pinData": {},
  "connections": {
    "Create Folder: Neue Eingangsrechnungen": {
      "main": [
        [
          {
            "node": "Create Folder: Fehler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder: Fehler": {
      "main": [
        [
          {
            "node": "Create Folder: Verarbeitet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Emails in Neue Eingangsrechnungen": {
      "main": [
        []
      ]
    },
    "Move into Fehler Folder": {
      "main": [
        []
      ]
    },
    "Has Errors?": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move into Verarbeitet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move into Verarbeitet": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Message": {
      "main": [
        [
          {
            "node": "Move into Fehler Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'work4all-invoice-workflow - Laurin'": {
      "main": [
        [
          {
            "node": "Has Errors?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Allow Single Message Access",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allow Single Message Access": {
      "main": [
        [
          {
            "node": "Call 'work4all-invoice-workflow - Laurin'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c05d2a3b-dbca-4fdf-b9db-e862e63c83ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "296be6635839d6898d9738c77c7973f94245430cfacaa9ab6123dfbd23a17154"
  },
  "id": "cAYY1L8gIYpHq62K",
  "tags": []
}