examples/createIncomingInvoice/w4a-invoice-workflow.json
{
	"name": "w4a-invoice-workflow",
	"nodes": [
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 3
					},
					"conditions": [
						{
							"id": "7ea39fb4-a88f-4f20-85d2-6daea27f1c16",
							"leftValue": "={{ Object.keys($binary ?? {}).length > 0 }}",
							"rightValue": true,
							"operator": {
								"type": "boolean",
								"operation": "equals"
							}
						}
					],
					"combinator": "and"
				},
				"options": {
					"ignoreCase": false
				}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.3,
			"position": [-448, 224],
			"id": "e9ba30db-4418-4660-b780-1d5b2661e613",
			"name": "check for attachments"
		},
		{
			"parameters": {
				"jsCode": "function removeNullish(value) {\n  if (Array.isArray(value)) {\n    return value.map(removeNullish);\n  }\n\n  if (value && typeof value === \"object\") {\n    return Object.fromEntries(\n      Object.entries(value)\n        .filter(([, v]) => v !== undefined && v !== null && v !== \"\")\n        .map(([k, v]) => [k, removeNullish(v)])\n    );\n  }\n\n  return value;\n}\n\nlet raw =$input.first().json.choices[0].message.content ?? \"{}\";\n\n// remove accidental code fences if Claude still adds them\nraw = raw\n  .replace(/^```json\\s*/i, \"\")\n  .replace(/^```\\s*/i, \"\")\n  .replace(/\\s*```$/, \"\")\n  .trim();\n\nconst parsed = JSON.parse(raw);\n\nreturn [{\n  json: {\n    found_invoice: parsed.found_invoice === true,\n    reason: parsed.reason ?? \"\",\n    relevantAttachmentKeys: parsed.relevantAttachmentKeys ?? [],\n    invoiceData: removeNullish(parsed.invoiceData ?? {}),\n  },\n  binary: $input.item.binary\n}];"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [1152, 128],
			"id": "b092f8b1-97df-4199-9e7c-bbf762ff1e53",
			"name": "parse json data"
		},
		{
			"parameters": {
				"jsCode": "const relevantKeys = $json.relevantAttachmentKeys || [];\nconst sourceBinary = $('Start').item.binary || {};\n\nconst keptBinary = Object.fromEntries(\n  relevantKeys\n    .filter((key) => sourceBinary[key])\n    .map((key) => [key, sourceBinary[key]])\n);\n\nconst invoiceData = { ...($json.invoiceData || {}) };\ninvoiceData.currency = \"EUR\";\ndelete invoiceData.currencyCode;\n\nfor (const key of [\"invoiceDate\", \"entryDate\", \"receiptDate\"]) {\n  if (\n    typeof invoiceData[key] === \"string\" &&\n    /^\\d{4}-\\d{2}-\\d{2}$/.test(invoiceData[key])\n  ) {\n    invoiceData[key] = `${invoiceData[key]}T00:00:00Z`;\n  }\n}\n\nconst receiptDate = $('Start').first().json.receivedDateTime;\n    // \"receiptDate\": null,\n\ninvoiceData.receiptDate = receiptDate\ninvoiceData.entryDate = receiptDate\n\nreturn [{\n  json: {\n    ...$json,\n    invoiceData,\n    relevantAttachmentKeys: relevantKeys,\n  },\n  binary: keptBinary,\n}];"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [2528, 32],
			"id": "6ea57fef-25e5-40dd-8f87-c976b5434cd8",
			"name": "Code in JavaScript"
		},
		{
			"parameters": {},
			"type": "n8n-nodes-base.noOp",
			"typeVersion": 1,
			"position": [3024, 352],
			"id": "fe188c2a-a380-426e-a111-7f391dbcf349",
			"name": "No Operation, do nothing"
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 3
					},
					"conditions": [
						{
							"id": "a5d662cb-f633-4648-bc88-bcc9362b9630",
							"leftValue": "={{ $json.has_xml_or_json }}",
							"rightValue": "",
							"operator": {
								"type": "boolean",
								"operation": "true",
								"singleValue": true
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.3,
			"position": [304, 160],
			"id": "05a47cc5-72f0-4e8b-a9ed-2c8eb1cddd5c",
			"name": "XML or PDF?"
		},
		{
			"parameters": {
				"jsCode": "return [{\n  json: {\n    outlookMessageId: $('Start').item.json.id,\n    success: true \n  }\n}];"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [3232, 352],
			"id": "d41c3849-3585-4bc4-8082-d2fcb6b1c5a0",
			"name": "Code in JavaScript3"
		},
		{
			"parameters": {
				"jsCode": "return [{\n  json: {\n    messageId: $('Start').item.json.id,\n    errors: $input.first().json.errors,\n    invoiceData: $input.first().json.data\n  }}];"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [3376, 0],
			"id": "1bcf0271-36df-4eb1-9b65-3f4446c17bef",
			"name": "Parse Output"
		},
		{
			"parameters": {
				"jsCode": "const item = $input.item;\n\nlet content = [\n  {\n    type: \"text\",\n    text: `\nReturn ONLY valid JSON.\nDo not use markdown.\nDo not wrap in triple backticks.\nDo not add explanations before or after the JSON.\n\nUse exactly this shape:\n{\n  \"found_invoice\": true,\n  \"reason\": \"short explanation\",\n  \"relevantAttachmentKeys\": [\"attachment_0\"],\n  \"invoiceData\": {\n    \"supplierCode\": null,\n    \"supplierName\": null,\n    \"supplierCustomerNumberAtSupplier\": null,\n    \"supplierContactMailAddress\": null,\n    \"supplierIban\": null,\n    \"projectCode\": null,\n    \"projectNumber\": null,\n    \"projectName\": null,\n    \"invoiceNumberSupplier\": null,\n    \"note\": null, # a short description, e.g. the supplier company name combined with the invoice period\n    \"invoiceDate\": null,\n    \"paymentTermDays\": null,\n    \"discount1Rate\": null,\n    \"discount1Days\": null,\n    \"discount2Rate\": null,\n    \"discount2Days\": null,\n    \"currencyCode\": null,\n    \"invoiceItems\": [\n      {\n        \"account\": null,\n        \"costCenter\": null,\n        \"costGroup\": null,\n        \"projectCode\": null,\n        \"taxRate\": null,\n        \"netAmount\": null,\n        \"grossAmount\": null,\n        \"vatAmount\": null,\n        \"note\": null # short note, not more than 50 chars\n      }\n    ]\n  }\n}\n\nRules:\n- found_invoice = true only if at least one attachment is clearly an incoming supplier invoice / Eingangsrechnung / XRechnung / receipt relevant for accounting.\n- relevantAttachmentKeys must contain the original attachment keys like \"attachment_0\".\n- invoiceData field names must match exactly.\n- Dates must be ISO-8601 strings if known, otherwise null.\n- Do not invent values.\n- Aggregate invoiceItems by VAT rate (Mehrwertsteuersatz), not by raw line item.\n- Return one invoiceItems entry per VAT bucket.\n- Sum netAmount, vatAmount and grossAmount per VAT bucket.\n- Only fill account, costCenter, costGroup, projectCode, taxCode if explicitly present in the documents.\n- If no invoice is found, return:\n  {\n    \"found_invoice\": false,\n    \"reason\": \"...\",\n    \"relevantAttachmentKeys\": [],\n    \"invoiceData\": {\n      \"supplierCode\": null,\n      \"supplierName\": null,\n      \"supplierCustomerNumberAtSupplier\": null,\n      \"supplierContactMailAddress\": null,\n      \"supplierIban\": null,\n      \"projectCode\": null,\n      \"projectNumber\": null,\n      \"projectName\": null,\n      \"invoiceNumberSupplier\": null,\n      \"note\": null,\n      \"invoiceDate\": null,\n      \"paymentTermDays\": null,\n      \"discount1Rate\": null,\n      \"discount1Days\": null,\n      \"discount2Rate\": null,\n      \"discount2Days\": null,\n      \"currencyCode\": null,\n      \"invoiceItems\": []\n    }\n  }\n`\n  }\n];\n\nlet has_xml_or_json = false;\n\nif (item.binary) {\n  for (const key of Object.keys(item.binary)) {\n    const file = item.binary[key];\n\n    const mimeType = file.mimeType || \"\";\n    const fileName = file.fileName || \"file\";\n\n    // ✅ FIX: use itemIndex (0 because \"each item\" mode)\n    const buffer = await this.helpers.getBinaryDataBuffer(0, key);\n    const base64 = buffer.toString(\"base64\");\n\n    const isPdf =\n      mimeType.includes(\"pdf\") ||\n      fileName.toLowerCase().endsWith(\".pdf\");\n\n    if (isPdf) {\n      has_xml_or_json = true;\n      content.push({\n        type: \"input_file\",\n        filename: fileName,\n        file_data: `data:application/pdf;base64,${base64}`\n      });\n    } else if (\n      mimeType.includes(\"xml\") ||\n      mimeType.includes(\"json\") ||\n      fileName.endsWith(\".xml\") ||\n      fileName.endsWith(\".json\")\n    ) {\n      has_xml_or_json = true;\n      const text = buffer.toString(\"utf-8\");\n\n      content.push({\n        type: \"text\",\n        text: `Content of ${fileName}:\\n${text}`\n      });\n    }\n  }\n}\n\nreturn {\n  json: {\n    has_xml_or_json: has_xml_or_json,\n    model: \"policy/EU-Sonnet-4-6\",\n    messages: [\n      {\n        role: \"user\",\n        content\n      }\n    ]\n  }\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [16, 112],
			"id": "7dbe1a33-6cce-4399-9fa3-7e96a31f0fca",
			"name": "Build LLM Messages"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://router.eu.requesty.ai/v1/chat/completions",
				"authentication": "predefinedCredentialType",
				"nodeCredentialType": "openAiApi",
				"sendHeaders": true,
				"headerParameters": {
					"parameters": [
						{
							"name": "Accept",
							"value": "application/json"
						}
					]
				},
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={{ $json }}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.4,
			"position": [608, 112],
			"id": "6ff9c895-cf64-48e9-a27d-d1b98080520d",
			"name": "HTTP Request",
			"credentials": {
				"openAiApi": {
					"id": "5dfLLN8AkAuEQRh9",
					"name": "Requesty OpenAI Compatible Endpoint"
				}
			}
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 3
					},
					"conditions": [
						{
							"id": "6573bc49-61be-476e-95d7-3f9b4e26b1c9",
							"leftValue": "={{ $json.found_invoice }}",
							"rightValue": "",
							"operator": {
								"type": "boolean",
								"operation": "true",
								"singleValue": true
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.3,
			"position": [1840, 160],
			"id": "58b9a0e7-5975-438f-9c44-2daf70459559",
			"name": "Has Invoice"
		},
		{
			"parameters": {
				"inputSource": "passthrough"
			},
			"type": "n8n-nodes-base.executeWorkflowTrigger",
			"typeVersion": 1.1,
			"position": [-768, 240],
			"id": "9dbffb99-8e43-4482-8e73-d686101c7540",
			"name": "Start"
		},
		{
			"parameters": {
				"dataMode": "json",
				"invoiceDataJson": "={{$json.invoiceData}}",
				"attachmentsMode": "json",
				"attachmentsJson": "={{ ($json.relevantAttachmentKeys || []).map(k => ({ binaryPropertyName: k })) }}"
			},
			"type": "n8n-nodes-work4all.work4all",
			"typeVersion": 1,
			"position": [3024, -48],
			"id": "f03fbf92-0f39-4ac7-941d-cc6487072a1b",
			"name": "Work4all1",
			"credentials": {
				"work4allOAuth2Api": {
					"id": "r5pLewQTOJJvl8Vq",
					"name": "Work4all account"
				}
			}
		}
	],
	"pinData": {},
	"connections": {
		"check for attachments": {
			"main": [
				[
					{
						"node": "Build LLM Messages",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "No Operation, do nothing",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"parse json data": {
			"main": [
				[
					{
						"node": "Has Invoice",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Code in JavaScript": {
			"main": [
				[
					{
						"node": "Work4all1",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"XML or PDF?": {
			"main": [
				[
					{
						"node": "HTTP Request",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "No Operation, do nothing",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"No Operation, do nothing": {
			"main": [
				[
					{
						"node": "Code in JavaScript3",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Build LLM Messages": {
			"main": [
				[
					{
						"node": "XML or PDF?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"HTTP Request": {
			"main": [
				[
					{
						"node": "parse json data",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Has Invoice": {
			"main": [
				[
					{
						"node": "Code in JavaScript",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "No Operation, do nothing",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Start": {
			"main": [
				[
					{
						"node": "check for attachments",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Work4all1": {
			"main": [
				[
					{
						"node": "Parse Output",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"active": false,
	"settings": {
		"executionOrder": "v1",
		"binaryMode": "separate",
		"availableInMCP": false
	},
	"versionId": "d0a96165-027e-4d8d-b2e8-55b7324534d3",
	"meta": {
		"templateCredsSetupCompleted": true,
		"instanceId": "296be6635839d6898d9738c77c7973f94245430cfacaa9ab6123dfbd23a17154"
	},
	"id": "0wKGon3IByVPw4QH",
	"tags": [
		{
			"updatedAt": "2026-04-29T06:51:16.477Z",
			"createdAt": "2026-04-29T06:51:16.477Z",
			"id": "DLPU6J5imgWz56va",
			"name": "prod"
		}
	]
}
