workflows/createIncomingInvoice/w4a-invoice-workflow-template.json
{
  "name": "Create a work4all incoming invoice from email attachments using AI",
  "nodes": [
    {
      "parameters": {
        "content": "## Create a work4all incoming invoice from email attachments using AI\n\nThis **sub-workflow** is called by a parent workflow with one email item whose attachments are passed as binary data. The attachments are read by AI, structured invoice data is extracted, and the **work4all** node books the incoming invoice with the original files attached.\n\n### How it works\n1. Keeps only emails that carry a readable PDF / XML / JSON attachment.\n2. Extracts invoice data in one of two modes (**Extraction config**):\n   - **`backend`** (default) — work4all AI backend, uses the **work4all** credential.\n   - **`llm`** — your own **OpenAI-compatible** model (*Call LLM*).\n3. Normalises the result, books the incoming invoice and attaches the files.\n\n### Setup\n1. Add your **work4all** credential.\n2. Leave **Extraction config** at `backend` (recommended), or set it to `llm` and add an **OpenAI-compatible** credential on *Call LLM*.\n3. Call this workflow from a parent that supplies the email + attachments.\n\n### Customization\n- Switch provider/model in *Call LLM* and the `MODEL` constant in *Build LLM messages*.\n- The `llm` model must support **PDF / file input**.\n\nRequires a work4all account and the verified `n8n-nodes-work4all` node.",
        "height": 680,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3328,
        3824
      ],
      "id": "ae5bffef-7c79-4b6e-99a3-d73f77662e71",
      "name": "Sticky Note - Description"
    },
    {
      "parameters": {
        "content": "## 1 · Input & validation\nReceives the email from the parent workflow and keeps only items that carry a readable PDF / XML / JSON attachment.",
        "height": 368,
        "width": 720,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3872,
        4432
      ],
      "id": "94e503a9-3044-401f-85b6-5f8764d50d28",
      "name": "Sticky Note - Input"
    },
    {
      "parameters": {
        "content": "## 3 · Extract invoice data\nBoth modes read the attachments and return the same structured invoice JSON — via the work4all AI backend or an OpenAI-compatible LLM (*Build LLM messages* → *Call LLM*).",
        "height": 492,
        "width": 470,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5264,
        4128
      ],
      "id": "6d00d5d9-5fdb-4b27-96a9-09934624c199",
      "name": "Sticky Note - Extract"
    },
    {
      "parameters": {
        "content": "## 5 · Book in work4all\nNormalises currency and dates, creates the incoming invoice in work4all and attaches the original files.",
        "height": 312,
        "width": 720,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6512,
        4240
      ],
      "id": "5d0640ea-8437-4a34-9ee1-acfa7907bcf9",
      "name": "Sticky Note - Book"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        3920,
        4624
      ],
      "id": "0c59f157-e044-462c-a096-e26a9f2dac3a",
      "name": "When called by parent workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ea39fb4-a88f-4f20-85d2-6daea27f1c16",
              "leftValue": "={{ Object.keys($binary ?? {}).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4144,
        4624
      ],
      "id": "798b2240-e938-43ab-bdaa-8889476369a3",
      "name": "Has attachments?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ⚙️ CONFIG: set your OpenAI-compatible model here\nconst MODEL = \"policy/EU-Sonnet-4-6\";\n\nconst item = $input.item;\n\nlet content = [\n  {\n    type: \"text\",\n    text: `\nReturn ONLY valid JSON.\nDo not use markdown.\nDo not wrap in triple backticks.\nDo not add explanations before or after the JSON.\n\nUse exactly this shape:\n{\n  \"found_invoice\": true,\n  \"reason\": \"short explanation\",\n  \"relevantAttachmentKeys\": [\"attachment_0\"],\n  \"invoiceData\": {\n    \"supplierCode\": null,\n    \"supplierName\": null,\n    \"supplierCustomerNumberAtSupplier\": null,\n    \"supplierContactMailAddress\": null,\n    \"supplierIban\": null,\n    \"projectCode\": null,\n    \"projectNumber\": null,\n    \"projectName\": null,\n    \"invoiceNumberSupplier\": null,\n    \"note\": null,\n    \"invoiceDate\": null,\n    \"paymentTermDays\": null,\n    \"discount1Rate\": null,\n    \"discount1Days\": null,\n    \"discount2Rate\": null,\n    \"discount2Days\": null,\n    \"currencyCode\": null,\n    \"invoiceItems\": [\n      {\n        \"account\": null,\n        \"costCenter\": null,\n        \"costGroup\": null,\n        \"projectCode\": null,\n        \"taxRate\": null,\n        \"netAmount\": null,\n        \"grossAmount\": null,\n        \"vatAmount\": null,\n        \"note\": null\n      }\n    ]\n  }\n}\n\nRules:\n- found_invoice = true only if at least one attachment is clearly an incoming supplier invoice / Eingangsrechnung / XRechnung / receipt relevant for accounting.\n- relevantAttachmentKeys must contain the original attachment keys like \"attachment_0\".\n- invoiceData field names must match exactly.\n- The note field should hold a short description, e.g. the supplier company name combined with the invoice period.\n- Each invoiceItems note should be a short note, not more than 50 characters.\n- Dates must be ISO-8601 strings if known, otherwise null.\n- Do not invent values.\n- Aggregate invoiceItems by VAT rate (Mehrwertsteuersatz), not by raw line item.\n- Return one invoiceItems entry per VAT bucket.\n- Sum netAmount, vatAmount and grossAmount per VAT bucket.\n- Only fill account, costCenter, costGroup, projectCode, taxCode if explicitly present in the documents.\n- If no invoice is found, return:\n  {\n    \"found_invoice\": false,\n    \"reason\": \"...\",\n    \"relevantAttachmentKeys\": [],\n    \"invoiceData\": {\n      \"supplierCode\": null,\n      \"supplierName\": null,\n      \"supplierCustomerNumberAtSupplier\": null,\n      \"supplierContactMailAddress\": null,\n      \"supplierIban\": null,\n      \"projectCode\": null,\n      \"projectNumber\": null,\n      \"projectName\": null,\n      \"invoiceNumberSupplier\": null,\n      \"note\": null,\n      \"invoiceDate\": null,\n      \"paymentTermDays\": null,\n      \"discount1Rate\": null,\n      \"discount1Days\": null,\n      \"discount2Rate\": null,\n      \"discount2Days\": null,\n      \"currencyCode\": null,\n      \"invoiceItems\": []\n    }\n  }\n`\n  }\n];\n\nlet has_xml_or_json = false;\n\nif (item.binary) {\n  for (const key of Object.keys(item.binary)) {\n    const file = item.binary[key];\n\n    const mimeType = file.mimeType || \"\";\n    const fileName = file.fileName || \"file\";\n\n    const buffer = await this.helpers.getBinaryDataBuffer(0, key);\n    const base64 = buffer.toString(\"base64\");\n\n    const isPdf =\n      mimeType.includes(\"pdf\") ||\n      fileName.toLowerCase().endsWith(\".pdf\");\n\n    if (isPdf) {\n      has_xml_or_json = true;\n      content.push({\n        type: \"input_file\",\n        filename: fileName,\n        file_data: `data:application/pdf;base64,${base64}`\n      });\n    } else if (\n      mimeType.includes(\"xml\") ||\n      mimeType.includes(\"json\") ||\n      fileName.endsWith(\".xml\") ||\n      fileName.endsWith(\".json\")\n    ) {\n      has_xml_or_json = true;\n      const text = buffer.toString(\"utf-8\");\n\n      content.push({\n        type: \"text\",\n        text: `Content of ${fileName}:\\n${text}`\n      });\n    }\n  }\n}\n\nreturn {\n  json: {\n    has_xml_or_json: has_xml_or_json,\n    model: MODEL,\n    messages: [\n      {\n        role: \"user\",\n        content\n      }\n    ]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5312,
        4448
      ],
      "id": "76a69b0c-5791-4894-8941-1987e96bf138",
      "name": "Build LLM messages"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a5d662cb-f633-4648-bc88-bcc9362b9630",
              "leftValue": "={{ Object.values($binary ?? {}).some(f => /pdf|xml|json/i.test(((f.mimeType || '') + ' ' + (f.fileName || '')))) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4384,
        4528
      ],
      "id": "26087643-0935-40ae-99b5-043ed6ed005b",
      "name": "Has readable attachment?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.eu.requesty.ai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5536,
        4448
      ],
      "id": "f428890d-57b2-44f2-8dfb-75da7b87adf2",
      "name": "Call LLM"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function removeNullish(value) {\n  if (Array.isArray(value)) {\n    return value.map(removeNullish);\n  }\n  if (value && typeof value === \"object\") {\n    return Object.fromEntries(\n      Object.entries(value)\n        .filter(([, v]) => v !== undefined && v !== null && v !== \"\")\n        .map(([k, v]) => [k, removeNullish(v)])\n    );\n  }\n  return value;\n}\n\n// LLM path returns an OpenAI envelope ($json.choices[0].message.content);\n// the work4all AI backend returns the payload directly (often as a plain JSON string).\nlet raw = $json && $json.choices ? $json.choices[0].message.content : $json;\n\nlet parsed;\nif (typeof raw === \"string\") {\n  raw = raw\n    .replace(/^```json\\s*/i, \"\")\n    .replace(/^```\\s*/i, \"\")\n    .replace(/\\s*```$/, \"\")\n    .trim();\n  parsed = raw ? JSON.parse(raw) : {};\n} else {\n  parsed = raw ?? {};\n}\n\nreturn {\n  json: {\n    found_invoice: parsed.found_invoice === true,\n    reason: parsed.reason ?? \"\",\n    relevantAttachmentKeys: parsed.relevantAttachmentKeys ?? [],\n    invoiceData: removeNullish(parsed.invoiceData ?? {}),\n  },\n  binary: $input.item.binary,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5936,
        4352
      ],
      "id": "c2b12987-7c71-4668-9092-66e1a696a424",
      "name": "Parse extraction result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6573bc49-61be-476e-95d7-3f9b4e26b1c9",
              "leftValue": "={{ $json.found_invoice }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6160,
        4352
      ],
      "id": "57096ad9-32f6-4e6f-945c-4412a178aed6",
      "name": "Has invoice?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const relevantKeys = $json.relevantAttachmentKeys || [];\nconst sourceBinary = $('When called by parent workflow').item.binary || {};\n\nconst keptBinary = Object.fromEntries(\n  relevantKeys\n    .filter((key) => sourceBinary[key])\n    .map((key) => [key, sourceBinary[key]])\n);\n\nconst invoiceData = { ...($json.invoiceData || {}) };\ninvoiceData.currency = \"EUR\";\ndelete invoiceData.currencyCode;\n\nfor (const key of [\"invoiceDate\", \"entryDate\", \"receiptDate\"]) {\n  if (\n    typeof invoiceData[key] === \"string\" &&\n    /^\\d{4}-\\d{2}-\\d{2}$/.test(invoiceData[key])\n  ) {\n    invoiceData[key] = `${invoiceData[key]}T00:00:00Z`;\n  }\n}\n\nconst receiptDate = $('When called by parent workflow').item.json.receivedDateTime;\n\ninvoiceData.receiptDate = receiptDate;\ninvoiceData.entryDate = receiptDate;\n\nreturn {\n  json: {\n    ...$json,\n    invoiceData,\n    relevantAttachmentKeys: relevantKeys,\n  },\n  binary: keptBinary,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6528,
        4336
      ],
      "id": "ff2c7e66-caf2-4bd9-b8a9-b383a2f7f766",
      "name": "Filter attachments & normalize"
    },
    {
      "parameters": {
        "dataMode": "json",
        "invoiceDataJson": "={{$json.invoiceData}}",
        "attachmentsMode": "json",
        "attachmentsJson": "={{ ($json.relevantAttachmentKeys || []).map(k => ({ binaryPropertyName: k })) }}"
      },
      "type": "n8n-nodes-work4all.work4all",
      "typeVersion": 1,
      "position": [
        6752,
        4336
      ],
      "id": "c6ffbd6d-4b71-4142-b7f0-6f09ca902b0e",
      "name": "Create incoming invoice"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    messageId: $('When called by parent workflow').item.json.id,\n    errors: $json.errors,\n    invoiceData: $json.data\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6976,
        4336
      ],
      "id": "abcf4572-33d9-4635-a2bc-8722626a4094",
      "name": "Format work4all result"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6736,
        4720
      ],
      "id": "0bfde39e-4847-4286-829b-031b9603ccc7",
      "name": "No invoice - skip"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    messageId: $('When called by parent workflow').item.json.id,\n    success: true\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6976,
        4720
      ],
      "id": "d2321b43-cc23-48ec-8dd4-3105a34b322d",
      "name": "Build result (no invoice)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-0001-4000-8000-000000000001",
              "name": "extractionMode",
              "value": "backend",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4704,
        4352
      ],
      "id": "321f3a36-c04c-48bf-b005-5d4488e7fda4",
      "name": "Extraction config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b1b2c3d4-0002-4000-8000-000000000002",
              "leftValue": "={{ $json.extractionMode }}",
              "rightValue": "backend",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4928,
        4352
      ],
      "id": "003567ac-2078-4104-ae95-96700e012214",
      "name": "Use work4all AI backend?",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "extractInvoiceData"
      },
      "type": "n8n-nodes-work4all.work4all",
      "typeVersion": 1,
      "position": [
        5536,
        4256
      ],
      "id": "5ee82373-4cef-4cb8-b3c2-a30ed1ee8bb7",
      "name": "Extract invoice data",
      "credentials": {
        "work4allOAuth2Api": {
          "id": "r5pLewQTOJJvl8Vq",
          "name": "Work4all account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 2 · Choose extraction mode\nSet `extractionMode` in **Extraction config**: `backend` (work4all AI backend) or `llm` (your own OpenAI-compatible model).",
        "height": 336,
        "width": 446,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4672,
        4224
      ],
      "id": "73ec4480-7594-44fe-adee-bd489d622fb8",
      "name": "Sticky Note - Extraction mode"
    },
    {
      "parameters": {
        "content": "## 4 · Parse & check\nNormalises either output into the same shape and checks whether an invoice was found. If not, booking is skipped.",
        "height": 340,
        "width": 420,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5920,
        4240
      ],
      "id": "e94df569-9888-415a-9702-13acc7b34fc4",
      "name": "Sticky Note - Parse"
    },
    {
      "parameters": {
        "content": "## 6 · No invoice\nItems without a usable invoice end here and return a simple skipped result.",
        "height": 256,
        "width": 520,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6688,
        4624
      ],
      "id": "032731e5-0764-45dd-8f15-26b1e5553d99",
      "name": "Sticky Note - No invoice"
    }
  ],
  "pinData": {},
  "connections": {
    "When called by parent workflow": {
      "main": [
        [
          {
            "node": "Has attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has attachments?": {
      "main": [
        [
          {
            "node": "Has readable attachment?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No invoice - skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has readable attachment?": {
      "main": [
        [
          {
            "node": "Extraction config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No invoice - skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraction config": {
      "main": [
        [
          {
            "node": "Use work4all AI backend?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use work4all AI backend?": {
      "main": [
        [
          {
            "node": "Extract invoice data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build LLM messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract invoice data": {
      "main": [
        [
          {
            "node": "Parse extraction result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM messages": {
      "main": [
        [
          {
            "node": "Call LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM": {
      "main": [
        [
          {
            "node": "Parse extraction result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse extraction result": {
      "main": [
        [
          {
            "node": "Has invoice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has invoice?": {
      "main": [
        [
          {
            "node": "Filter attachments & normalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No invoice - skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter attachments & normalize": {
      "main": [
        [
          {
            "node": "Create incoming invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create incoming invoice": {
      "main": [
        [
          {
            "node": "Format work4all result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No invoice - skip": {
      "main": [
        [
          {
            "node": "Build result (no invoice)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f10951a6-27e6-482c-a921-cf73b0e9b5e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "296be6635839d6898d9738c77c7973f94245430cfacaa9ab6123dfbd23a17154"
  },
  "id": "qqEyPIiXqpshnSKv",
  "tags": []
}