workflows/createIncomingInvoice/w4a-invoice-exchange-template.json
{
  "name": "Create work4all incoming invoices from Outlook inbox emails",
  "nodes": [
    {
      "parameters": {
        "content": "## Create work4all incoming invoices from Outlook inbox emails\n\nPolls an Outlook folder for new supplier emails and turns their invoice attachments into incoming invoices in **work4all**. AI extraction and booking are handled by the companion sub-workflow; this workflow handles scheduling, fetching, error notifications and Outlook categorisation. Built for teams using **work4all** and **Microsoft Outlook** that want to stop entering supplier invoices by hand.\n\n### How it works\n1. A schedule trigger fetches messages from a chosen Outlook folder that aren't yet categorised red or green.\n2. Each message is passed to the **invoice extraction sub-workflow**, which creates the work4all incoming invoice.\n3. The email is categorised by outcome: **green** = booked, **yellow + green** = booked but please review (supplier / account / tax key was set automatically), **red** = error (a notification email is sent).\n\n### Setup\n1. Import the companion template **\"Create a work4all incoming invoice from email attachments using AI\"**.\n2. In *Run invoice extraction sub-workflow*, select that imported workflow.\n3. Add your **Microsoft Outlook** credential.\n4. In *Set Config*, enter the error-notification recipient(s).\n5. In *Get inbox messages*, choose the folder to monitor.\n6. Make sure the **Red / Green / Yellow** categories exist in your mailbox.\n\n### Customization\n- Change the polling interval on the schedule trigger.\n- Adjust which Outlook categories are used.\n\nRequires a Microsoft Outlook account, the companion sub-workflow and the verified `n8n-nodes-work4all` node.",
        "height": 760,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        -32
      ],
      "id": "817b5784-c53c-4c29-b633-9da3ca923306",
      "name": "Sticky Note - Description"
    },
    {
      "parameters": {
        "content": "## 1. Poll the mailbox\nEvery minute, fetch messages from the configured folder that are **not** categorised red or green yet. Choose the folder in *Get inbox messages*.",
        "height": 296,
        "width": 616,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        480
      ],
      "id": "09e4d663-c430-44ef-8571-120203a6e5af",
      "name": "Sticky Note - Poll"
    },
    {
      "parameters": {
        "content": "## 3. Categorise the outcome\n**green** = booked · **yellow + green** = booked, please review · **red** = error. These three categories must exist in your mailbox.",
        "height": 476,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1872,
        304
      ],
      "id": "1c855468-54af-4aa9-92a2-e086efd98317",
      "name": "Sticky Note - Categorise"
    },
    {
      "parameters": {
        "content": "## 2. Extract & book\nEach message is sent to the companion sub-workflow, which extracts the invoice with AI and books it in work4all. *Has errors?* then routes the result.",
        "height": 304,
        "width": 520,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        480
      ],
      "id": "2039a0c0-7272-46af-aef2-0d49cd725666",
      "name": "Sticky Note - Extract & book"
    },
    {
      "parameters": {
        "content": "## 4. Error handling\nIf the sub-workflow reports an error, send a notification to the configured recipient(s) and mark the email red.",
        "height": 248,
        "width": 760,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1632,
        832
      ],
      "id": "15d0c36e-9a51-4aaa-b856-3bcc52990a00",
      "name": "Sticky Note - Error handling"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        640,
        592
      ],
      "id": "58b3997d-08c4-4043-967c-4f8ac7b3275e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-recipients",
              "name": "errorRecipients",
              "value": "you@example.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        592
      ],
      "id": "1eb74a17-c529-4ace-8460-ab413e43583e",
      "name": "Set Config"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "output": "raw",
        "filtersUI": {
          "values": {
            "filters": {
              "custom": "not(categories/any(c:c eq 'Red category')) and not(categories/any(c:c eq 'Green category'))",
              "foldersToInclude": [
                "REPLACE_WITH_YOUR_FOLDER_ID"
              ]
            }
          }
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1072,
        592
      ],
      "id": "79f7bf79-7e20-4777-be51-7845d8b6fdc1",
      "name": "Get inbox messages",
      "webhookId": "257e1506-34f5-41ec-9005-17fd8f150e91",
      "retryOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Create a work4all incoming invoice from email attachments using AI"
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1328,
        592
      ],
      "id": "4d1ad7b5-632f-4234-b7af-7c7654e3edbf",
      "name": "Run invoice extraction sub-workflow",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d26a6695-69cd-4253-a407-9ced41587f40",
              "leftValue": "={{ $json.errors }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1648,
        576
      ],
      "id": "94f49559-8a16-4755-bd0c-4c0722b6c06a",
      "name": "Has errors?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { error: $json.error } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        928
      ],
      "id": "1db599a3-f674-4804-8a14-46aaea38bc9f",
      "name": "Extract error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d20cbe3b-92aa-4cdf-85ba-1158a2c9f54f",
              "leftValue": "={{ $json.invoiceData.ahf_CreateCompleteIncomingInvoice.newSupplierCreated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "7e81baf3-a1d1-4709-af2a-afbd5f87dd0c",
              "leftValue": "={{ $json.invoiceData.ahf_CreateCompleteIncomingInvoice.accountSet }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "9217a33b-c484-4449-84dc-a4223258a114",
              "leftValue": "={{ $json.invoiceData.ahf_CreateCompleteIncomingInvoice.taxKeytSet }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1936,
        528
      ],
      "id": "0560819f-84af-40ba-8a18-07d3fad8e047",
      "name": "Supplier/account/tax key set?"
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Set Config').first().json.errorRecipients }}",
        "subject": "=Invoice workflow \"{{ $workflow.name }}\" reported an error",
        "bodyContent": "={{ JSON.stringify($json.error ?? $json.errors ?? {}) }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1952,
        928
      ],
      "id": "093dc059-342a-466f-90ac-bd3b1c43458e",
      "name": "Send error email",
      "webhookId": "4db9bbf8-40d6-451e-8c32-5d663a2efbbb"
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Get inbox messages').item.json.id }}",
          "mode": "id"
        },
        "updateFields": {
          "categories": [
            "Red category"
          ]
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2208,
        928
      ],
      "id": "b5212aa9-aefc-47d3-b275-dc46f6ee2ad1",
      "name": "Mark message red",
      "webhookId": "606b3d2d-a23a-430a-9cae-1bbf1ee04314"
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Get inbox messages').item.json.id }}",
          "mode": "id"
        },
        "updateFields": {
          "categories": [
            "Yellow category",
            "Green category"
          ]
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2176,
        416
      ],
      "id": "2a38c192-cdc6-48d7-9977-032914fad3db",
      "name": "Mark message yellow + green",
      "webhookId": "469c4b49-67b6-4ffc-a45d-6b5182dd5b8a"
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Get inbox messages').item.json.id }}",
          "mode": "id"
        },
        "updateFields": {
          "categories": [
            "Green category"
          ]
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2176,
        624
      ],
      "id": "4f1f78fe-cd97-4060-9b35-01800720c193",
      "name": "Mark message green",
      "webhookId": "3bbe9c2f-3380-4a94-a0ea-05621687497d"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Get inbox messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get inbox messages": {
      "main": [
        [
          {
            "node": "Run invoice extraction sub-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run invoice extraction sub-workflow": {
      "main": [
        [
          {
            "node": "Has errors?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has errors?": {
      "main": [
        [
          {
            "node": "Send error email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supplier/account/tax key set?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract error": {
      "main": [
        [
          {
            "node": "Send error email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send error email": {
      "main": [
        [
          {
            "node": "Mark message red",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supplier/account/tax key set?": {
      "main": [
        [
          {
            "node": "Mark message yellow + green",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark message green",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e6fe75fa-8945-4bca-be55-cb35b721175c",
  "meta": {
    "instanceId": "296be6635839d6898d9738c77c7973f94245430cfacaa9ab6123dfbd23a17154"
  },
  "id": "lnGYQrYYXccPgg80",
  "tags": []
}