workflows/createIncomingInvoice/w4a-invoice-workflow-template.json
{
  "name": "Create a work4all incoming invoice from email attachments using AI",
  "nodes": [
    {
      "parameters": {
        "content": "## Create a work4all incoming invoice from email attachments using AI (EN)\n\nThis is a **sub-workflow**. It is called by a parent workflow (e.g. the companion *Create work4all incoming invoices from Outlook inbox emails* template) with a single email item that carries its attachments as binary data. The attachments are read by AI, structured invoice data is extracted, and the **work4all** node books the incoming invoice with the original files attached.\n\n## Two extraction modes (configurable)\nThe **Extraction config** node decides how invoice data is extracted:\n- **`backend`** (default) — sends the attachments to the **work4all AI backend**. Authentication and the target work4all instance come from the **work4all** credential, so no extra AI credential is needed.\n- **`llm`** — sends the attachments to your own **OpenAI-compatible** endpoint (*Call LLM* node). Use this if you want to bring your own model/provider.\n\nBoth modes return the same structured shape, so the rest of the workflow is identical.\n\n## How to set up\n1. Add your **work4all** credential.\n2. Leave **Extraction config** at `backend` to use the work4all AI backend (recommended), or set it to `llm` and add an **OpenAI-compatible** credential on the *Call LLM* node.\n3. Call this workflow from a parent that supplies the email + attachments.\n\n## Requirements\n- A work4all account and the verified `n8n-nodes-work4all` node\n- For `llm` mode only: an OpenAI-compatible chat-completions endpoint\n\n---\n\n## Beschreibung (DE)\n\nDies ist ein **Sub-Workflow**. Er wird von einem übergeordneten Workflow aufgerufen und erhält eine einzelne E-Mail mit ihren Anhängen als Binärdaten. Die Anhänge werden per KI ausgelesen, die strukturierten Rechnungsdaten extrahiert, und der **work4all**-Knoten bucht die Eingangsrechnung samt Originaldateien.\n\n### Zwei Extraktionsmodi (konfigurierbar)\nDer Knoten **Extraction config** legt fest, wie die Rechnungsdaten extrahiert werden:\n- **`backend`** (Standard) — sendet die Anhänge an das **work4all-KI-Backend**. Authentifizierung und Ziel-Instanz kommen aus dem **work4all**-Credential, kein zusätzliches KI-Credential nötig.\n- **`llm`** — sendet die Anhänge an deinen eigenen **OpenAI-kompatiblen** Endpunkt (*Call LLM*).\n\nBeide Modi liefern dieselbe Struktur zurück; der restliche Workflow ist identisch.\n\n### Einrichtung\n1. **work4all**-Credential hinzufügen.\n2. **Extraction config** auf `backend` lassen (empfohlen) oder auf `llm` setzen und ein **OpenAI-kompatibles** Credential am *Call LLM*-Knoten hinterlegen.\n3. Aus einem übergeordneten Workflow aufrufen, der E-Mail + Anhänge liefert.",
        "height": 1376,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2064,
        2592
      ],
      "id": "341730bf-77c6-4157-80f8-e3cdefb7f29f",
      "name": "Sticky Note - Description"
    },
    {
      "parameters": {
        "content": "## Expected input (EN)\nThis workflow is triggered by a parent via **Execute Workflow**. Each incoming item must contain:\n- the email attachments as **binary** data\n- `id` (message id) and `receivedDateTime` in JSON\n\n---\n\n## Erwartete Eingabe (DE)\nDieser Workflow wird von einem übergeordneten Workflow über **Execute Workflow** aufgerufen. Jedes eingehende Item muss enthalten:\n- die E-Mail-Anhänge als **Binärdaten**\n- `id` (Nachrichten-ID) und `receivedDateTime` im JSON",
        "height": 332,
        "width": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2544,
        2976
      ],
      "id": "f75e371c-04be-489d-ac39-e3b595ca99e0",
      "name": "Sticky Note - Input"
    },
    {
      "parameters": {
        "content": "## LLM extraction — optional path (EN)\nUsed only when **extractionMode = `llm`**. Sends the PDF / XML attachments to an **OpenAI-compatible** chat-completions endpoint and parses the structured invoice JSON.\n\n**Provider configuration** — the *Call LLM* node is preconfigured for the **Requesty EU router** and works with any OpenAI-compatible endpoint. Change the **URL** in *Call LLM* and the **model** at the top of *Build LLM messages* to use another provider.\n\n**Endpoint examples**\n- **OpenAI:** `https://api.openai.com/v1/chat/completions` — e.g. `gpt-4o`\n- **Anthropic (OpenAI-compatible):** `https://api.anthropic.com/v1/chat/completions` — e.g. `claude-sonnet-4-6`\n- **Requesty (default):** `https://router.eu.requesty.ai/v1/chat/completions` — e.g. `policy/EU-Sonnet-4-6`\n\n⚠️ The selected model must support **PDF / file input**.\n\n---\n\n## LLM-Extraktion — optionaler Pfad (DE)\nWird nur verwendet, wenn **extractionMode = `llm`**. Sendet die PDF-/XML-Anhänge an einen **OpenAI-kompatiblen** Chat-Completions-Endpunkt und liest das strukturierte Rechnungs-JSON aus.\n\n**Provider-Konfiguration** — der Knoten *Call LLM* ist für den **Requesty-EU-Router** vorkonfiguriert und funktioniert mit jedem OpenAI-kompatiblen Endpunkt. Ändere die **URL** in *Call LLM* und das **Modell** oben in *Build LLM messages*, um einen anderen Anbieter zu nutzen.\n\n**Endpunkt-Beispiele**\n- **OpenAI:** `https://api.openai.com/v1/chat/completions` — z. B. `gpt-4o`\n- **Anthropic (OpenAI-kompatibel):** `https://api.anthropic.com/v1/chat/completions` — z. B. `claude-sonnet-4-6`\n- **Requesty (Standard):** `https://router.eu.requesty.ai/v1/chat/completions` — z. B. `policy/EU-Sonnet-4-6`\n\n⚠️ Das gewählte Modell muss **PDF-/Datei-Eingabe** unterstützen.",
        "height": 864,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3744,
        3488
      ],
      "id": "6abcaaa7-cb8f-456d-be55-9e9d446cc269",
      "name": "Sticky Note - Extract"
    },
    {
      "parameters": {
        "content": "## Book in work4all (EN)\nNormalise the data (currency, dates), then create the incoming invoice and attach the original files.\n\n---\n\n## In work4all buchen (DE)\nNormalisiert die Daten (Währung, Datumsangaben), erstellt dann die Eingangsrechnung und hängt die Originaldateien an.",
        "height": 184,
        "width": 560,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4608,
        2800
      ],
      "id": "c06c7c66-9315-4846-a386-9d04dca06ecb",
      "name": "Sticky Note - Book"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        2592,
        3328
      ],
      "id": "42c86b62-447d-415e-ab34-0fe3f7cc8bf3",
      "name": "When called by parent workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ea39fb4-a88f-4f20-85d2-6daea27f1c16",
              "leftValue": "={{ Object.keys($binary ?? {}).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2816,
        3328
      ],
      "id": "7585bbde-ad0a-419a-905c-b69135b5e2d6",
      "name": "Has attachments?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ⚙️ CONFIG: set your OpenAI-compatible model here\nconst MODEL = \"policy/EU-Sonnet-4-6\";\n\nconst item = $input.item;\n\nlet content = [\n  {\n    type: \"text\",\n    text: `\nReturn ONLY valid JSON.\nDo not use markdown.\nDo not wrap in triple backticks.\nDo not add explanations before or after the JSON.\n\nUse exactly this shape:\n{\n  \"found_invoice\": true,\n  \"reason\": \"short explanation\",\n  \"relevantAttachmentKeys\": [\"attachment_0\"],\n  \"invoiceData\": {\n    \"supplierCode\": null,\n    \"supplierName\": null,\n    \"supplierCustomerNumberAtSupplier\": null,\n    \"supplierContactMailAddress\": null,\n    \"supplierIban\": null,\n    \"projectCode\": null,\n    \"projectNumber\": null,\n    \"projectName\": null,\n    \"invoiceNumberSupplier\": null,\n    \"note\": null,\n    \"invoiceDate\": null,\n    \"paymentTermDays\": null,\n    \"discount1Rate\": null,\n    \"discount1Days\": null,\n    \"discount2Rate\": null,\n    \"discount2Days\": null,\n    \"currencyCode\": null,\n    \"invoiceItems\": [\n      {\n        \"account\": null,\n        \"costCenter\": null,\n        \"costGroup\": null,\n        \"projectCode\": null,\n        \"taxRate\": null,\n        \"netAmount\": null,\n        \"grossAmount\": null,\n        \"vatAmount\": null,\n        \"note\": null\n      }\n    ]\n  }\n}\n\nRules:\n- found_invoice = true only if at least one attachment is clearly an incoming supplier invoice / Eingangsrechnung / XRechnung / receipt relevant for accounting.\n- relevantAttachmentKeys must contain the original attachment keys like \"attachment_0\".\n- invoiceData field names must match exactly.\n- The note field should hold a short description, e.g. the supplier company name combined with the invoice period.\n- Each invoiceItems note should be a short note, not more than 50 characters.\n- Dates must be ISO-8601 strings if known, otherwise null.\n- Do not invent values.\n- Aggregate invoiceItems by VAT rate (Mehrwertsteuersatz), not by raw line item.\n- Return one invoiceItems entry per VAT bucket.\n- Sum netAmount, vatAmount and grossAmount per VAT bucket.\n- Only fill account, costCenter, costGroup, projectCode, taxCode if explicitly present in the documents.\n- If no invoice is found, return:\n  {\n    \"found_invoice\": false,\n    \"reason\": \"...\",\n    \"relevantAttachmentKeys\": [],\n    \"invoiceData\": {\n      \"supplierCode\": null,\n      \"supplierName\": null,\n      \"supplierCustomerNumberAtSupplier\": null,\n      \"supplierContactMailAddress\": null,\n      \"supplierIban\": null,\n      \"projectCode\": null,\n      \"projectNumber\": null,\n      \"projectName\": null,\n      \"invoiceNumberSupplier\": null,\n      \"note\": null,\n      \"invoiceDate\": null,\n      \"paymentTermDays\": null,\n      \"discount1Rate\": null,\n      \"discount1Days\": null,\n      \"discount2Rate\": null,\n      \"discount2Days\": null,\n      \"currencyCode\": null,\n      \"invoiceItems\": []\n    }\n  }\n`\n  }\n];\n\nlet has_xml_or_json = false;\n\nif (item.binary) {\n  for (const key of Object.keys(item.binary)) {\n    const file = item.binary[key];\n\n    const mimeType = file.mimeType || \"\";\n    const fileName = file.fileName || \"file\";\n\n    const buffer = await this.helpers.getBinaryDataBuffer(0, key);\n    const base64 = buffer.toString(\"base64\");\n\n    const isPdf =\n      mimeType.includes(\"pdf\") ||\n      fileName.toLowerCase().endsWith(\".pdf\");\n\n    if (isPdf) {\n      has_xml_or_json = true;\n      content.push({\n        type: \"input_file\",\n        filename: fileName,\n        file_data: `data:application/pdf;base64,${base64}`\n      });\n    } else if (\n      mimeType.includes(\"xml\") ||\n      mimeType.includes(\"json\") ||\n      fileName.endsWith(\".xml\") ||\n      fileName.endsWith(\".json\")\n    ) {\n      has_xml_or_json = true;\n      const text = buffer.toString(\"utf-8\");\n\n      content.push({\n        type: \"text\",\n        text: `Content of ${fileName}:\\n${text}`\n      });\n    }\n  }\n}\n\nreturn {\n  json: {\n    has_xml_or_json: has_xml_or_json,\n    model: MODEL,\n    messages: [\n      {\n        role: \"user\",\n        content\n      }\n    ]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        3200
      ],
      "id": "9ffa3f41-cfc1-4102-8f83-188cc0de7257",
      "name": "Build LLM messages"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a5d662cb-f633-4648-bc88-bcc9362b9630",
              "leftValue": "={{ Object.values($binary ?? {}).some(f => /pdf|xml|json/i.test(((f.mimeType || '') + ' ' + (f.fileName || '')))) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3056,
        3232
      ],
      "id": "859e7ba1-b32f-4324-bbbf-7458ba8f4b30",
      "name": "Has readable attachment?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.eu.requesty.ai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3952,
        3200
      ],
      "id": "ec9685f1-b0f4-4520-82e5-8d66bcfcf031",
      "name": "Call LLM"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function removeNullish(value) {\n  if (Array.isArray(value)) {\n    return value.map(removeNullish);\n  }\n  if (value && typeof value === \"object\") {\n    return Object.fromEntries(\n      Object.entries(value)\n        .filter(([, v]) => v !== undefined && v !== null && v !== \"\")\n        .map(([k, v]) => [k, removeNullish(v)])\n    );\n  }\n  return value;\n}\n\n// LLM path returns an OpenAI envelope ($json.choices[0].message.content);\n// the work4all AI backend returns the payload directly (often as a plain JSON string).\nlet raw = $json && $json.choices ? $json.choices[0].message.content : $json;\n\nlet parsed;\nif (typeof raw === \"string\") {\n  raw = raw\n    .replace(/^```json\\s*/i, \"\")\n    .replace(/^```\\s*/i, \"\")\n    .replace(/\\s*```$/, \"\")\n    .trim();\n  parsed = raw ? JSON.parse(raw) : {};\n} else {\n  parsed = raw ?? {};\n}\n\nreturn {\n  json: {\n    found_invoice: parsed.found_invoice === true,\n    reason: parsed.reason ?? \"\",\n    relevantAttachmentKeys: parsed.relevantAttachmentKeys ?? [],\n    invoiceData: removeNullish(parsed.invoiceData ?? {}),\n  },\n  binary: $input.item.binary,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4176,
        3104
      ],
      "id": "768ab93c-3f61-4f04-8832-5f5ba075c036",
      "name": "Parse extraction result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6573bc49-61be-476e-95d7-3f9b4e26b1c9",
              "leftValue": "={{ $json.found_invoice }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4400,
        3104
      ],
      "id": "c18c4e49-9ee5-41bf-acac-f45482e676c7",
      "name": "Has invoice?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const relevantKeys = $json.relevantAttachmentKeys || [];\nconst sourceBinary = $('When called by parent workflow').item.binary || {};\n\nconst keptBinary = Object.fromEntries(\n  relevantKeys\n    .filter((key) => sourceBinary[key])\n    .map((key) => [key, sourceBinary[key]])\n);\n\nconst invoiceData = { ...($json.invoiceData || {}) };\ninvoiceData.currency = \"EUR\";\ndelete invoiceData.currencyCode;\n\nfor (const key of [\"invoiceDate\", \"entryDate\", \"receiptDate\"]) {\n  if (\n    typeof invoiceData[key] === \"string\" &&\n    /^\\d{4}-\\d{2}-\\d{2}$/.test(invoiceData[key])\n  ) {\n    invoiceData[key] = `${invoiceData[key]}T00:00:00Z`;\n  }\n}\n\nconst receiptDate = $('When called by parent workflow').item.json.receivedDateTime;\n\ninvoiceData.receiptDate = receiptDate;\ninvoiceData.entryDate = receiptDate;\n\nreturn {\n  json: {\n    ...$json,\n    invoiceData,\n    relevantAttachmentKeys: relevantKeys,\n  },\n  binary: keptBinary,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4624,
        3056
      ],
      "id": "9aacf834-b894-44f0-8516-f83aecc3b61a",
      "name": "Filter attachments & normalize"
    },
    {
      "parameters": {
        "dataMode": "json",
        "invoiceDataJson": "={{$json.invoiceData}}",
        "attachmentsMode": "json",
        "attachmentsJson": "={{ ($json.relevantAttachmentKeys || []).map(k => ({ binaryPropertyName: k })) }}"
      },
      "type": "n8n-nodes-work4all.work4all",
      "typeVersion": 1,
      "position": [
        4848,
        3056
      ],
      "id": "1b2c79c2-84eb-44b7-ba55-9d5ba514effd",
      "name": "Create incoming invoice"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    messageId: $('When called by parent workflow').item.json.id,\n    errors: $json.errors,\n    invoiceData: $json.data\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5072,
        3056
      ],
      "id": "bac50786-4e7e-4139-b7e5-88dde42d247b",
      "name": "Format work4all result"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4848,
        3440
      ],
      "id": "0ed0669b-22f5-45b9-875c-53185f429233",
      "name": "No invoice - skip"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    messageId: $('When called by parent workflow').item.json.id,\n    success: true\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5088,
        3440
      ],
      "id": "edb26675-dd44-4c4e-9d95-f57e9a8e59bc",
      "name": "Build result (no invoice)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-0001-4000-8000-000000000001",
              "name": "extractionMode",
              "value": "backend",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3280,
        3104
      ],
      "id": "27d2a0cb-a1a4-4be5-b173-1746e4b81150",
      "name": "Extraction config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b1b2c3d4-0002-4000-8000-000000000002",
              "leftValue": "={{ $json.extractionMode }}",
              "rightValue": "backend",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3504,
        3104
      ],
      "id": "6d3cbd26-4b1e-46af-b78e-0381766fb2ac",
      "name": "Use work4all AI backend?"
    },
    {
      "parameters": {
        "operation": "extractInvoiceData"
      },
      "type": "n8n-nodes-work4all.work4all",
      "typeVersion": 1,
      "position": [
        3952,
        3008
      ],
      "id": "c447c99a-8426-4f54-9a02-b74f08abee60",
      "name": "Extract invoice data",
      "credentials": {
        "work4allOAuth2Api": {
          "id": "r5pLewQTOJJvl8Vq",
          "name": "Work4all account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Extraction gate & mode (EN)\n**Has readable attachment?** keeps only emails with a PDF / XML / JSON attachment (applies to *both* modes).\n\n**Extraction config** → set `extractionMode`:\n- **`backend`** → work4all AI backend (no extra credential)\n- **`llm`** → your own OpenAI-compatible model\n\nBoth paths merge into **Parse extraction result**, which normalizes either output into the same structure.\n\n---\n\n## Extraktions-Gate & Modus (DE)\n**Has readable attachment?** lässt nur E-Mails mit PDF-/XML-/JSON-Anhang durch (gilt für *beide* Modi).\n\n**Extraction config** → `extractionMode` setzen:\n- **`backend`** → work4all-KI-Backend (kein zusätzliches Credential)\n- **`llm`** → dein eigenes OpenAI-kompatibles Modell\n\nBeide Pfade münden in **Parse extraction result**, das beide Ausgaben in dieselbe Struktur normalisiert.",
        "height": 428,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2944,
        2656
      ],
      "id": "290bce26-6e68-48df-b1f3-eb1788293e97",
      "name": "Sticky Note - Extraction mode"
    },
    {
      "parameters": {
        "content": "## work4all AI backend (EN)\nSends the attachments to the work4all AI backend and returns the structured invoice JSON. Uses the **work4all** credential — no separate AI credential needed.\n\nℹ️ **Extraction Endpoint URL** is preset to the production endpoint. Leave it as-is in production — only change it for local testing or another environment (e.g. `http://host.docker.internal:8003/...`).\n\n---\n\n## work4all-KI-Backend (DE)\nSendet die Anhänge an das work4all-KI-Backend und gibt das strukturierte Rechnungs-JSON zurück. Nutzt das **work4all**-Credential — kein separates KI-Credential nötig.\n\nℹ️ Die **Extraction Endpoint URL** ist auf den Produktions-Endpunkt voreingestellt. In der Produktion so lassen — nur für lokale Tests oder eine andere Umgebung ändern (z. B. `http://host.docker.internal:8003/...`).",
        "height": 472,
        "width": 360,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3840,
        2512
      ],
      "id": "7705c212-dca0-4ba0-83aa-1156fb947657",
      "name": "Sticky Note - Backend"
    }
  ],
  "pinData": {},
  "connections": {
    "When called by parent workflow": {
      "main": [
        [
          {
            "node": "Has attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has attachments?": {
      "main": [
        [
          {
            "node": "Has readable attachment?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No invoice - skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has readable attachment?": {
      "main": [
        [
          {
            "node": "Extraction config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No invoice - skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraction config": {
      "main": [
        [
          {
            "node": "Use work4all AI backend?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use work4all AI backend?": {
      "main": [
        [
          {
            "node": "Extract invoice data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build LLM messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract invoice data": {
      "main": [
        [
          {
            "node": "Parse extraction result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM messages": {
      "main": [
        [
          {
            "node": "Call LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM": {
      "main": [
        [
          {
            "node": "Parse extraction result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse extraction result": {
      "main": [
        [
          {
            "node": "Has invoice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has invoice?": {
      "main": [
        [
          {
            "node": "Filter attachments & normalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No invoice - skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter attachments & normalize": {
      "main": [
        [
          {
            "node": "Create incoming invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create incoming invoice": {
      "main": [
        [
          {
            "node": "Format work4all result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No invoice - skip": {
      "main": [
        [
          {
            "node": "Build result (no invoice)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c2094ada-e367-4a60-ae7a-cb71af1d1816",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "296be6635839d6898d9738c77c7973f94245430cfacaa9ab6123dfbd23a17154"
  },
  "id": "qqEyPIiXqpshnSKv",
  "tags": []
}