workflows/createIncomingInvoice/w4a-invoice-workflow-template.json
{
	"name": "Create a work4all incoming invoice from email attachments using AI",
	"nodes": [
		{
			"parameters": {
				"content": "## Create a work4all incoming invoice from email attachments using AI\n\nThis is a **sub-workflow**. It is called by a parent workflow (e.g. the companion *Create work4all incoming invoices from Outlook inbox emails* template) with a single email item that carries its attachments as binary data. An LLM reads the PDF / XML / XRechnung attachments, extracts structured invoice data, and the **work4all** node books the incoming invoice with the original files attached.\n\n## Who's it for\nwork4all users who want a reusable \"attachment → structured invoice → work4all\" engine they can call from any source (Outlook, Gmail, webhook, …).\n\n## How it works\n1. Called via *Execute Workflow* with an item containing binary attachments and `id` + `receivedDateTime`.\n2. Attachments are sent to an LLM that decides whether it is an invoice and extracts the data as JSON.\n3. The data is normalised (currency, dates) and the work4all node creates the incoming invoice.\n4. Returns the result (or a \"no invoice\" marker) to the caller.\n\n## How to set up\n1. Add your **work4all** credential.\n2. Add an **OpenAI-compatible** credential for the *Call LLM* node.\n3. Set your model in *Build LLM messages* (top of the code).\n4. Call this workflow from a parent that supplies the email + attachments.\n\n## Requirements\n- A work4all account and the verified `n8n-nodes-work4all` node\n- An OpenAI-compatible chat-completions endpoint\n\n## How to customize\n- Adjust the extraction prompt in *Build LLM messages*.\n- Change the model used for extraction.\n\n---\n\n## 🇩🇪 Beschreibung (Deutsch)\n\nDies ist ein **Sub-Workflow**. Er wird von einem übergeordneten Workflow aufgerufen (z. B. dem zugehörigen Template *Create work4all incoming invoices from Outlook inbox emails*) und erhält eine einzelne E-Mail mit ihren Anhängen als Binärdaten. Ein LLM liest die PDF-/XML-/XRechnung-Anhänge, extrahiert die strukturierten Rechnungsdaten, und der **work4all**-Knoten bucht die Eingangsrechnung samt Originaldateien.\n\n### Für wen\nwork4all-Nutzer, die einen wiederverwendbaren Baustein \"Anhang → strukturierte Rechnung → work4all\" wollen, den sie aus jeder Quelle (Outlook, Gmail, Webhook …) aufrufen können.\n\n### Funktionsweise\n1. Wird per *Execute Workflow* mit einem Element aufgerufen, das Binär-Anhänge sowie `id` + `receivedDateTime` enthält.\n2. Die Anhänge gehen an ein LLM, das entscheidet, ob es eine Rechnung ist, und die Daten als JSON extrahiert.\n3. Die Daten werden normalisiert (Währung, Datum), der work4all-Knoten erstellt die Eingangsrechnung.\n4. Gibt das Ergebnis (oder eine \"keine Rechnung\"-Markierung) an den Aufrufer zurück.\n\n### Einrichtung\n1. **work4all**-Credential hinzufügen.\n2. **OpenAI-kompatibles** Credential für den *Call LLM*-Knoten hinzufügen.\n3. Modell in *Build LLM messages* (oben im Code) setzen.\n4. Aus einem übergeordneten Workflow aufrufen, der E-Mail + Anhänge liefert.\n\n### Voraussetzungen\n- Ein work4all-Konto und den verifizierten `n8n-nodes-work4all`-Knoten\n- Einen OpenAI-kompatiblen Chat-Completions-Endpunkt\n\n### Anpassen\n- Extraktions-Prompt in *Build LLM messages* anpassen.\n- Modell für die Extraktion wechseln.",
				"height": 1360,
				"width": 460
			},
			"type": "n8n-nodes-base.stickyNote",
			"typeVersion": 1,
			"position": [-1280, -160],
			"id": "sticky-desc-eng",
			"name": "Sticky Note - Description"
		},
		{
			"parameters": {
				"content": "## Expected input\nThis workflow is triggered by a parent via **Execute Workflow**. Each incoming item must contain:\n- the email attachments as **binary** data\n- `id` (message id) and `receivedDateTime` in JSON",
				"height": 220,
				"width": 360,
				"color": 5
			},
			"type": "n8n-nodes-base.stickyNote",
			"typeVersion": 1,
			"position": [-760, -160],
			"id": "sticky-input-eng",
			"name": "Sticky Note - Input"
		},
		{
			"parameters": {
				"content": "## Extract invoice data with AI\nSend the PDF / XML attachments to the LLM and parse the structured invoice JSON. The model is configured at the top of *Build LLM messages*.",
				"height": 200,
				"width": 760,
				"color": 7
			},
			"type": "n8n-nodes-base.stickyNote",
			"typeVersion": 1,
			"position": [-360, 360],
			"id": "sticky-step-llm-eng",
			"name": "Sticky Note - Extract"
		},
		{
			"parameters": {
				"content": "## Book in work4all\nNormalise the data (currency, dates), then create the incoming invoice and attach the original files.",
				"height": 200,
				"width": 560,
				"color": 7
			},
			"type": "n8n-nodes-base.stickyNote",
			"typeVersion": 1,
			"position": [760, -140],
			"id": "sticky-step-book-eng",
			"name": "Sticky Note - Book"
		},
		{
			"parameters": {
				"content": "## Call LLM — provider configuration\nThis node is preconfigured for the **Requesty EU router** and works with any **OpenAI-compatible** chat-completions endpoint. To use a different provider, change the **URL** in this node and the **model** in *Build LLM messages*, then set the matching credential here.\n\n**Endpoint examples**\n- **OpenAI:** `https://api.openai.com/v1/chat/completions` — e.g. model `gpt-4o`\n- **Anthropic (OpenAI-compatible):** `https://api.anthropic.com/v1/chat/completions` — e.g. model `claude-sonnet-4-6`\n- **Requesty (default):** `https://router.eu.requesty.ai/v1/chat/completions` — e.g. model `policy/EU-Sonnet-4-6`\n\n⚠️ The selected model must support **PDF / file input** — invoice attachments are sent as base64 documents.\n\n---\n\n🇩🇪 Dieser Knoten ist auf den **Requesty-EU-Router** voreingestellt und funktioniert mit jedem **OpenAI-kompatiblen** Endpunkt. Für einen anderen Anbieter die **URL** hier und das **Modell** in *Build LLM messages* anpassen (Beispiele oben) und das passende Credential setzen. Das gewählte Modell muss **PDF-/Datei-Input** unterstützen.",
				"height": 420,
				"width": 480,
				"color": 7
			},
			"type": "n8n-nodes-base.stickyNote",
			"typeVersion": 1,
			"position": [40, -220],
			"id": "sticky-llm-provider-eng",
			"name": "Sticky Note - LLM provider"
		},
		{
			"parameters": {
				"inputSource": "passthrough"
			},
			"type": "n8n-nodes-base.executeWorkflowTrigger",
			"typeVersion": 1.1,
			"position": [-760, 240],
			"id": "9dbffb99-8e43-4482-8e73-d686101c7540",
			"name": "When called by parent workflow"
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 3
					},
					"conditions": [
						{
							"id": "7ea39fb4-a88f-4f20-85d2-6daea27f1c16",
							"leftValue": "={{ Object.keys($binary ?? {}).length > 0 }}",
							"rightValue": true,
							"operator": {
								"type": "boolean",
								"operation": "equals"
							}
						}
					],
					"combinator": "and"
				},
				"options": {
					"ignoreCase": false
				}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.3,
			"position": [-540, 240],
			"id": "e9ba30db-4418-4660-b780-1d5b2661e613",
			"name": "Has attachments?"
		},
		{
			"parameters": {
				"mode": "runOnceForEachItem",
				"jsCode": "// ⚙️ CONFIG: set your OpenAI-compatible model here\nconst MODEL = \"policy/EU-Sonnet-4-6\";\n\nconst item = $input.item;\n\nlet content = [\n  {\n    type: \"text\",\n    text: `\nReturn ONLY valid JSON.\nDo not use markdown.\nDo not wrap in triple backticks.\nDo not add explanations before or after the JSON.\n\nUse exactly this shape:\n{\n  \"found_invoice\": true,\n  \"reason\": \"short explanation\",\n  \"relevantAttachmentKeys\": [\"attachment_0\"],\n  \"invoiceData\": {\n    \"supplierCode\": null,\n    \"supplierName\": null,\n    \"supplierCustomerNumberAtSupplier\": null,\n    \"supplierContactMailAddress\": null,\n    \"supplierIban\": null,\n    \"projectCode\": null,\n    \"projectNumber\": null,\n    \"projectName\": null,\n    \"invoiceNumberSupplier\": null,\n    \"note\": null,\n    \"invoiceDate\": null,\n    \"paymentTermDays\": null,\n    \"discount1Rate\": null,\n    \"discount1Days\": null,\n    \"discount2Rate\": null,\n    \"discount2Days\": null,\n    \"currencyCode\": null,\n    \"invoiceItems\": [\n      {\n        \"account\": null,\n        \"costCenter\": null,\n        \"costGroup\": null,\n        \"projectCode\": null,\n        \"taxRate\": null,\n        \"netAmount\": null,\n        \"grossAmount\": null,\n        \"vatAmount\": null,\n        \"note\": null\n      }\n    ]\n  }\n}\n\nRules:\n- found_invoice = true only if at least one attachment is clearly an incoming supplier invoice / Eingangsrechnung / XRechnung / receipt relevant for accounting.\n- relevantAttachmentKeys must contain the original attachment keys like \"attachment_0\".\n- invoiceData field names must match exactly.\n- The note field should hold a short description, e.g. the supplier company name combined with the invoice period.\n- Each invoiceItems note should be a short note, not more than 50 characters.\n- Dates must be ISO-8601 strings if known, otherwise null.\n- Do not invent values.\n- Aggregate invoiceItems by VAT rate (Mehrwertsteuersatz), not by raw line item.\n- Return one invoiceItems entry per VAT bucket.\n- Sum netAmount, vatAmount and grossAmount per VAT bucket.\n- Only fill account, costCenter, costGroup, projectCode, taxCode if explicitly present in the documents.\n- If no invoice is found, return:\n  {\n    \"found_invoice\": false,\n    \"reason\": \"...\",\n    \"relevantAttachmentKeys\": [],\n    \"invoiceData\": {\n      \"supplierCode\": null,\n      \"supplierName\": null,\n      \"supplierCustomerNumberAtSupplier\": null,\n      \"supplierContactMailAddress\": null,\n      \"supplierIban\": null,\n      \"projectCode\": null,\n      \"projectNumber\": null,\n      \"projectName\": null,\n      \"invoiceNumberSupplier\": null,\n      \"note\": null,\n      \"invoiceDate\": null,\n      \"paymentTermDays\": null,\n      \"discount1Rate\": null,\n      \"discount1Days\": null,\n      \"discount2Rate\": null,\n      \"discount2Days\": null,\n      \"currencyCode\": null,\n      \"invoiceItems\": []\n    }\n  }\n`\n  }\n];\n\nlet has_xml_or_json = false;\n\nif (item.binary) {\n  for (const key of Object.keys(item.binary)) {\n    const file = item.binary[key];\n\n    const mimeType = file.mimeType || \"\";\n    const fileName = file.fileName || \"file\";\n\n    const buffer = await this.helpers.getBinaryDataBuffer(0, key);\n    const base64 = buffer.toString(\"base64\");\n\n    const isPdf =\n      mimeType.includes(\"pdf\") ||\n      fileName.toLowerCase().endsWith(\".pdf\");\n\n    if (isPdf) {\n      has_xml_or_json = true;\n      content.push({\n        type: \"input_file\",\n        filename: fileName,\n        file_data: `data:application/pdf;base64,${base64}`\n      });\n    } else if (\n      mimeType.includes(\"xml\") ||\n      mimeType.includes(\"json\") ||\n      fileName.endsWith(\".xml\") ||\n      fileName.endsWith(\".json\")\n    ) {\n      has_xml_or_json = true;\n      const text = buffer.toString(\"utf-8\");\n\n      content.push({\n        type: \"text\",\n        text: `Content of ${fileName}:\\n${text}`\n      });\n    }\n  }\n}\n\nreturn {\n  json: {\n    has_xml_or_json: has_xml_or_json,\n    model: MODEL,\n    messages: [\n      {\n        role: \"user\",\n        content\n      }\n    ]\n  }\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [-320, 160],
			"id": "7dbe1a33-6cce-4399-9fa3-7e96a31f0fca",
			"name": "Build LLM messages"
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 3
					},
					"conditions": [
						{
							"id": "a5d662cb-f633-4648-bc88-bcc9362b9630",
							"leftValue": "={{ $json.has_xml_or_json }}",
							"rightValue": "",
							"operator": {
								"type": "boolean",
								"operation": "true",
								"singleValue": true
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.3,
			"position": [-100, 160],
			"id": "05a47cc5-72f0-4e8b-a9ed-2c8eb1cddd5c",
			"name": "Has readable attachment?"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://router.eu.requesty.ai/v1/chat/completions",
				"authentication": "predefinedCredentialType",
				"nodeCredentialType": "openAiApi",
				"sendHeaders": true,
				"headerParameters": {
					"parameters": [
						{
							"name": "Accept",
							"value": "application/json"
						}
					]
				},
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={{ $json }}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.4,
			"position": [120, 160],
			"id": "6ff9c895-cf64-48e9-a27d-d1b98080520d",
			"name": "Call LLM",
			"credentials": {
				"openAiApi": {
					"id": "REPLACE_OPENAI_CREDENTIAL",
					"name": "OpenAI-compatible endpoint"
				}
			}
		},
		{
			"parameters": {
				"mode": "runOnceForEachItem",
				"jsCode": "function removeNullish(value) {\n  if (Array.isArray(value)) {\n    return value.map(removeNullish);\n  }\n\n  if (value && typeof value === \"object\") {\n    return Object.fromEntries(\n      Object.entries(value)\n        .filter(([, v]) => v !== undefined && v !== null && v !== \"\")\n        .map(([k, v]) => [k, removeNullish(v)])\n    );\n  }\n\n  return value;\n}\n\nlet raw = $json.choices[0].message.content ?? \"{}\";\n\n// remove accidental code fences if the model still adds them\nraw = raw\n  .replace(/^```json\\s*/i, \"\")\n  .replace(/^```\\s*/i, \"\")\n  .replace(/\\s*```$/, \"\")\n  .trim();\n\nconst parsed = JSON.parse(raw);\n\nreturn {\n  json: {\n    found_invoice: parsed.found_invoice === true,\n    reason: parsed.reason ?? \"\",\n    relevantAttachmentKeys: parsed.relevantAttachmentKeys ?? [],\n    invoiceData: removeNullish(parsed.invoiceData ?? {}),\n  },\n  binary: $input.item.binary\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [340, 160],
			"id": "b092f8b1-97df-4199-9e7c-bbf762ff1e53",
			"name": "Parse LLM response"
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 3
					},
					"conditions": [
						{
							"id": "6573bc49-61be-476e-95d7-3f9b4e26b1c9",
							"leftValue": "={{ $json.found_invoice }}",
							"rightValue": "",
							"operator": {
								"type": "boolean",
								"operation": "true",
								"singleValue": true
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.3,
			"position": [560, 160],
			"id": "58b9a0e7-5975-438f-9c44-2daf70459559",
			"name": "Has invoice?"
		},
		{
			"parameters": {
				"mode": "runOnceForEachItem",
				"jsCode": "const relevantKeys = $json.relevantAttachmentKeys || [];\nconst sourceBinary = $('When called by parent workflow').item.binary || {};\n\nconst keptBinary = Object.fromEntries(\n  relevantKeys\n    .filter((key) => sourceBinary[key])\n    .map((key) => [key, sourceBinary[key]])\n);\n\nconst invoiceData = { ...($json.invoiceData || {}) };\ninvoiceData.currency = \"EUR\";\ndelete invoiceData.currencyCode;\n\nfor (const key of [\"invoiceDate\", \"entryDate\", \"receiptDate\"]) {\n  if (\n    typeof invoiceData[key] === \"string\" &&\n    /^\\d{4}-\\d{2}-\\d{2}$/.test(invoiceData[key])\n  ) {\n    invoiceData[key] = `${invoiceData[key]}T00:00:00Z`;\n  }\n}\n\nconst receiptDate = $('When called by parent workflow').item.json.receivedDateTime;\n\ninvoiceData.receiptDate = receiptDate;\ninvoiceData.entryDate = receiptDate;\n\nreturn {\n  json: {\n    ...$json,\n    invoiceData,\n    relevantAttachmentKeys: relevantKeys,\n  },\n  binary: keptBinary,\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [780, 80],
			"id": "6ea57fef-25e5-40dd-8f87-c976b5434cd8",
			"name": "Filter attachments & normalize"
		},
		{
			"parameters": {
				"dataMode": "json",
				"invoiceDataJson": "={{$json.invoiceData}}",
				"attachmentsMode": "json",
				"attachmentsJson": "={{ ($json.relevantAttachmentKeys || []).map(k => ({ binaryPropertyName: k })) }}"
			},
			"type": "n8n-nodes-work4all.work4all",
			"typeVersion": 1,
			"position": [1000, 80],
			"id": "f03fbf92-0f39-4ac7-941d-cc6487072a1b",
			"name": "Create incoming invoice",
			"credentials": {
				"work4allOAuth2Api": {
					"id": "REPLACE_WORK4ALL_CREDENTIAL",
					"name": "work4all account"
				}
			}
		},
		{
			"parameters": {
				"mode": "runOnceForEachItem",
				"jsCode": "return {\n  json: {\n    messageId: $('When called by parent workflow').item.json.id,\n    errors: $json.errors,\n    invoiceData: $json.data\n  }\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [1220, 80],
			"id": "1bcf0271-36df-4eb1-9b65-3f4446c17bef",
			"name": "Format work4all result"
		},
		{
			"parameters": {},
			"type": "n8n-nodes-base.noOp",
			"typeVersion": 1,
			"position": [120, 420],
			"id": "fe188c2a-a380-426e-a111-7f391dbcf349",
			"name": "No invoice - skip"
		},
		{
			"parameters": {
				"mode": "runOnceForEachItem",
				"jsCode": "return {\n  json: {\n    messageId: $('When called by parent workflow').item.json.id,\n    success: true\n  }\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [340, 420],
			"id": "d41c3849-3585-4bc4-8082-d2fcb6b1c5a0",
			"name": "Build result (no invoice)"
		}
	],
	"pinData": {},
	"connections": {
		"When called by parent workflow": {
			"main": [
				[
					{
						"node": "Has attachments?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Has attachments?": {
			"main": [
				[
					{
						"node": "Build LLM messages",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "No invoice - skip",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Build LLM messages": {
			"main": [
				[
					{
						"node": "Has readable attachment?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Has readable attachment?": {
			"main": [
				[
					{
						"node": "Call LLM",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "No invoice - skip",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Call LLM": {
			"main": [
				[
					{
						"node": "Parse LLM response",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Parse LLM response": {
			"main": [
				[
					{
						"node": "Has invoice?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Has invoice?": {
			"main": [
				[
					{
						"node": "Filter attachments & normalize",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "No invoice - skip",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Filter attachments & normalize": {
			"main": [
				[
					{
						"node": "Create incoming invoice",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Create incoming invoice": {
			"main": [
				[
					{
						"node": "Format work4all result",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"No invoice - skip": {
			"main": [
				[
					{
						"node": "Build result (no invoice)",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"active": false,
	"settings": {
		"executionOrder": "v1",
		"binaryMode": "separate",
		"availableInMCP": false
	},
	"meta": {
		"templateCredsSetupCompleted": true
	},
	"tags": []
}
